$headlineBrown = #795548

.splash
  background-image url('yunityorg.jpg')
  background-size cover
  min-height 100%
  h1
    font-family "Cabin Sketch", sans-serif
    color $headlineBrown
    font-size 50px
  logo
    padding-right 20px
    > img
      height 150px
  @media screen and (max-width: 450px)
    h1.title
      font-size 7vw
    logo > img
      height 75px
  ui-view
    width 40em
