<div layout="row" layout-nowrap id="group-menu-container">
  <md-button
    aria-label="{{$ctrl.activeGroup.name || 'Please choose a group...'}}"
    ui-sref="group({ groupId: $ctrl.activeGroup.id })"
    id="group-menu-active-group"
    flex>
    <logo></logo>
    <span style="text-overflow: ellipsis">{{$ctrl.activeGroup.name || "Please choose a group..."}}</span>
  </md-button>
  <md-menu md-position-mode="target bottom">
    <span>
      <a ng-click="$ctrl.openMenu($mdOpenMenu, $event)" class="md-button" id="group-menu-group-picker">
        <i class="fa fa-caret-down md-caption"></i>
        <div md-menu-origin class="aligner"></div>
      </a>
    </span>
   <md-menu-content>
     <md-menu-item ng-repeat="groupitem in $ctrl.groups"
                   ng-if="groupitem.id !== $ctrl.activeGroup.id">
       <md-button ui-sref="group({ groupId: groupitem.id })" aria-label="{{groupitem.name}}">
         <i class="fa fa-circle-o"> </i>
         {{ groupitem.name }}
       </md-button>
     </md-menu-item>
     <md-menu-item>
       <md-button aria-label="{{ 'GROUPMENU.JOIN' | translate }}" class="group-menu-join-button" ng-click="$ctrl.openJoinGroupDialog($event)">
         <i class="fa fa-plus"></i>
         <span translate="GROUPMENU.JOIN"></span>
       </md-button>
     </md-menu-item>
   </md-menu-content>
  </md-menu>
</div>
