group-menu
  .md-button
    text-transform: none
    margin: 0
    line-height: 42px

  .aligner
    position: absolute
    left: 0

   logo > img
      height 30px
      margin-bottom: -8px

.group-menu-join-button
  font-size: 0.8em

#group-menu-container
    width:100%
    max-width: max-content
    position: relative

#group-menu-active-group
    text-align: right
    margin-left: 1em
    max-width: max-content

    text-overflow: ellipsis
    padding: 0em

#group-menu-group-picker
    text-align: left
    min-width: 30px
    position: initial
