// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values.

// Quasar Variables

$primary   = #4a3520
$secondary = #4a982e
$accent  = #c2b140

$positive  = #21BA45
$negative  = #DB2828
$info      = #F2C037
$warning   = #E37619

// Karrot variables

$lightRed = #FFF5F5
$lightGreen = #E7FFE0
$lighterGreen = #F0FFF0

$accentFont = 'Cabin Sketch'

$topbar-opacity-low = .6
