<div layout="column" layout-padding>
  <md-input-container>
    <label translate="GROUP.TITLE"></label>
    <input required type="text" ng-model="$ctrl.editData.name"/>
  </md-input-container>

  <md-input-container>
    <label translate="GROUP.DESCRIPTION_VERBOSE"></label>
    <textarea ng-model="$ctrl.editData.description"></textarea>
  </md-input-container>

  <md-input-container>
    <label translate="GROUP.PUBLIC_DESCRIPTION"></label>
    <textarea ng-model="$ctrl.editData.public_description"></textarea>
  </md-input-container>

  <md-input-container>
    <label translate="GROUP.PASSWORD"></label>
    <input type="text" ng-model="$ctrl.editData.password"/>
  </md-input-container>

  <md-autocomplete
    placeholder="{{'GROUP.ADDRESS' | translate}}"
    md-search-text="$ctrl.query"
    md-items="item in $ctrl.geoLookup()"
    md-item-text="item.address"
    md-selected-item-change="$ctrl.trySetLocation(item)"
    md-search-text-change="$ctrl.deleteIfEmpty(text)"
    md-delay="500"
    style="padding:0">
    <md-item-template>
      <span md-highlight-text="$ctrl.query">{{item.address}}</span>
    </md-item-template>
  </md-autocomplete>
  <leaflet
    height="200"
    center="$ctrl.mapCenter"
    defaults="$ctrl.mapDefaults"
    markers="$ctrl.marker"
    class="md-whiteframe-z1">
  </leaflet>

  <md-input-container>
    <label translate="GROUP.TIMEZONE"></label>
    <input type="text" ng-model="$ctrl.editData.timezone"/>
  </md-input-container>
</div>
