<form name="groupForm" ng-submit="$ctrl.submit()" promise-btn>
  <div layout="column" layout-padding>
    <md-input-container>
      <label translate="GROUP.TITLE"></label>
      <input type="text" name="name" ng-model="$ctrl.data.name"
        required minlength="5" maxlength="80" autocomplete="off" groupname-Validator/>
      <div ng-messages="groupForm.name.$error">
        <div ng-message="minlength" translate="FORM.MINLENGTH" translate-values="{min:'5'}"></div>
        <div ng-message="unique" translate="FORM.UNIQUE"></div>
      </div>
    </md-input-container>

    <md-input-container>
      <label translate="GROUP.PASSWORD"></label>
      <input type="text" ng-model="$ctrl.data.password"/>
    </md-input-container>

    <md-autocomplete required
      md-selected-item="$ctrl.data.timezone"
      md-floating-label="{{ 'GROUP.TIMEZONE' | translate }}"
      md-search-text="tzsearch"
      md-items="tz in $ctrl.filterTimezones(tzsearch)">
      <span md-highlight-text="tzsearch">{{tz}}</span>
    </md-autocomplete>

    <markdown-input
      translation-label="GROUP.PUBLIC_DESCRIPTION"
      model="$ctrl.data.public_description">
    </markdown-input>

    <markdown-input
      translation-label="GROUP.DESCRIPTION_VERBOSE"
      model="$ctrl.data.description">
    </markdown-input>

    <md-autocomplete
      md-floating-label="{{'GROUP.ADDRESS' | translate}}"
      md-search-text="$ctrl.query"
      md-items="item in $ctrl.geoLookup()"
      md-item-text="item.address"
      md-selected-item-change="$ctrl.trySetLocation(item)"
      md-search-text-change="$ctrl.updateOrDeleteIfEmpty($ctrl.query)"
      md-delay="500"
      style="padding:0">
      <md-item-template>
        <span md-highlight-text="$ctrl.query">{{item.address}}</span>
      </md-item-template>
    </md-autocomplete>

    <leaflet
      height="200"
      center="$ctrl.mapCenter"
      defaults="$ctrl.mapDefaults"
      markers="$ctrl.marker"
      class="md-whiteframe-z1">
    </leaflet>
  </div>

  <p>{{ $ctrl.error }}</p>
  <div layout="row" layout-align="end start">
    <md-button class="md-icon-button" ui-sref="^" ng-if="!$ctrl.isCreate">
      <i class="fa fa-times"></i>
    </md-button>
    <md-button type="submit" class="md-raised md-primary" ng-disabled="!groupForm.$valid">
      <i class="fa fa-check" ng-if="!$ctrl.isCreate"></i>
      <span translate="BUTTON.CREATE" ng-if="$ctrl.isCreate"></span>
    </md-button>
  </div>
</form>
