<md-menu md-position-mode="target bottom">
  <md-button md-menu-origin style="height: 42px" ng-click="$ctrl.open($mdMenu, $event)">
    <i class="fa fa-comment-o"></i>
  </md-button>
  <md-menu-content class="long-content">
    <md-list>
      <md-list-item ng-repeat="group in $ctrl.groups" class="md-2-line" ng-click="$ctrl.openChat(group)">
        <div class="md-list-item-text">
          <h3>{{ group.name }}</h3>
          <p>Last Message</p>
        </div>
      </md-list-item>      
    </md-list>
  </md-menu-content>
</md-menu>