<md-toolbar class="md-hue-1">
  <div class="md-toolbar-tools">
    <h1 flex>
      <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;
      <span translate="GROUP.EDIT"></span>
    </h1>
    <md-button class="md-icon-button" ui-sref="^">
      <i class="fa fa-arrow-left"></i>
      <md-tooltip md-direction="left">
        <span translate="BUTTON.BACK"></span>
      </md-tooltip>
    </md-button>
  </div>
</md-toolbar>
<group-edit-create-form
  data="$ctrl.data"
  on-submit="$ctrl.submit(data)">
</group-edit-create-form>
