search-bar
  .search
    overflow: hidden
    transition: margin 0.5s, visibility 0s, opacity 0.5s linear
  .search-shown
    visibility: visible
    opacity: 1
    margin: 0em;
  .search-not-shown
    visibility: hidden
    opacity: 0
    width: 0
    height: 0
    padding: 0
    margin-left: 5em;
