<div class="featured">
  <div class="overlay" layout="column">
    <div class="toolbar">
      <div class="md-toolbar-tools" style="height:42px">
        <language-chooser></language-chooser>
        <md-button href="https://github.com/yunity/foodsaving-frontend">
          <i class="fa fa-github"></i>
          Github
          <md-tooltip md-direction="bottom">
            <span translate="GLOBAL.GITHUB_NOTE"></span>
          </md-tooltip>
        </md-button>
        <md-button style="text-transform:none" ng-href="mailto:fstool@yunity.org">
          <i class="fa fa-envelope"></i>
          fstool@yunity.org
          <md-tooltip md-direction="bottom">
            <span translate="GLOBAL.DEVMAIL_NOTE"></span>
          </md-tooltip>
        </md-button>
      </div>
    </div>
    <div layout="column" layout-align="center center" flex="noshrink" layout-margin class="content">
      <div layout layout-align="center center">
        <logo></logo>
        <h1 class="title">Foodsaving Worldwide</h1>
      </div>
      <div layout="row">
        <a target="_blank" href="https://blog.foodsaving.world">
          <md-card>
            <img class="md-card-image" ng-src="{{$ctrl.cartImg}}" alt="statistics">
            <span class="md-headline" translate="LANDINGPAGE.BLOG"></span>
          </md-card>
        </a>
        <a>
          <md-card>
            <img class="md-card-image" ng-src="{{$ctrl.bananaImg}}" alt="statistics">
            <span class="md-headline" translate="LANDINGPAGE.TEAM"></span>
          </md-card>
        </a>
        <a ui-sref="login">
          <md-card>
            <img class="md-card-image" ng-src="{{$ctrl.cherryImg}}" alt="statistics">
            <span class="md-headline" translate="LANDINGPAGE.LOGIN"></span>
          </md-card>
        </a>
      </div>
      <div ng-click="$ctrl.goToMap()" class="nextPage" layout="column" layout-align="center center" flex="noshrink" layout-margin>
        <div style="text-align: center" translate="LANDINGPAGE.SEE_OUR_MAP"></div>
        <div class="arrow-down"></div>
      </div>
    </div>
  </div>
</div>
<div id="map">
  <div layout="column" layout-align="center center" flex="noshrink" layout>
    <h1 translate="LANDINGPAGE.OUR_GROUPS"></h1>
    <landing-page-map></landing-page-map>
  </div>
</div>
