landing-page
  h1
    font-family: 'Cabin Sketch', sans-serif !important
  .featured
    background-image: url('../../yunityorgLanding.jpg')
    background-size: cover
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    color: white
    .overlay
      min-height: 100vh
    > .toolbar
      height 42px
      max-height 42px
      min-height 42px

    .content a
      text-decoration: none
      width: 18em
    logo
      padding-right 10px
      > img
        height 75px
    h1.title
      font-size: 4em
      color: rgba(245, 245, 245, 1.0)   
    @media screen and (max-width: 500px)
      h1.title
        font-size 8vw
    md-card
      font-family: 'Cabin Sketch', sans-serif !important
      border-radius: 1em
      padding: 3vw
      background-color: rgba(255, 255, 255, 0.8)
      transition: background-color 0.2s, padding 0.2s
      .md-headline
        font-size: 28px
        width: 100%
        text-align: center
        margin-top: 1em
      @media screen and (max-width: 500px)
        .md-headline
          font-size 20px
    md-card:hover
      background-color: rgba(255, 255, 255, 0.85)
      padding 2.7vw
    .nextPage
      opacity: 0.5
      transition: opacity 0.3s, margin 0.5s
      .arrow-down
        width: 0 
        height: 0
        border-left: 20px solid transparent
        border-right: 20px solid transparent
        border-top: 20px solid #fff
    .nextPage:hover
      opacity: 1.0
      margin-top: 2.5em
  #map
    height: 100vh
