<div class="storeDetail">
  <md-toolbar class="md-hue-1">
    <div class="md-toolbar-tools">
      <h1 class="md-headline" flex>
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        {{$ctrl.storedata.name}}
      </h1>
      <md-button class="md-icon-button" ui-sref="storeEdit({storeId: $ctrl.storedata.id})" aria-label="{{ 'STOREDETAIL.EDIT' | translate }}">
        <md-tooltip md-direction="left">
          <span translate="STOREDETAIL.EDIT"></span>
        </md-tooltip>
        <i class="fa fa-pencil"></i>
      </md-button>
    </div>
  </md-toolbar>

  <store-detail-map ng-if="!$ctrl.ScreenSize.isGtSm()" store-data="$ctrl.storedata"></store-detail-map>
  <div layout-padding>
    <p ng-if="$ctrl.storedata.address">
      <md-tooltip>
        <span translate="STOREDETAIL.ADDRESS"></span>
      </md-tooltip>
      <i class="fa fa-map-marker"></i>
      {{$ctrl.storedata.address}}
    </p>
    <div>
      <expandable-panel content="$ctrl.storedata.description" markdown="true" collapse="10"></expandable-panel>
    </div>

    <div class="md-padding">
      <md-nav-bar md-selected-nav-item="$ctrl.currentNavItem">
        <md-nav-item md-nav-sref="storePickups" name="storePickups">
          <span translate="GROUP.PICKUPS"></span>
        </md-nav-item>
        <md-nav-item md-nav-sref="storeHistory" name="storeHistory">
          <span translate="GROUP.HISTORY"></span>
        </md-nav-item>
      </md-nav-bar>

      <ui-view></ui-view>
    </div>
  </div>
</div>
