{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "rules": {
    "angular/no-service-method": 0
  },
  "env": {
    "es6": true,
    "browser": true,
    "jasmine": true,
    "node": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "parserOptions": {
    "sourceType": "module",
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true
  }
}
