.DS_Store
.thumbs.db
node_modules/
dist/
npm-debug.log*
yarn-error.log
.idea
.vscode
nbproject/
storybook-static
coverage/
.env
docs-dist/
karrot-backend/
karrot-docker/
cordova/platforms
cordova/plugins
cordova/config/current
cordova/getpassword
cordova/ul_web_hooks
cordova/www
updateLocalesHelper/env
.nvmrc
