# Python
**/__pycache__/
env
myvenv

# Project
/config/local_settings.py
/config/secrets.py
/dump.rdb
/db.sqlite3
*.pid
*.mo

# IDE
/.idea
*.iml

# Python files
*.pyc
*.pyo

# Backups
/backup/backup.sh
/backup/*.db.enc

# Static build of frontend (obtained via command)
foodsaving/frontend/static/*
