.DS_Store
.thumbs.db
node_modules/
dist/
npm-debug.log*
yarn-error.log
.idea
.vscode
nbproject/
storybook-static
coverage/
e2e-screenshots
.env
docs-dist/
karrot-backend/
karrot-docker/
cordova/platforms
cordova/plugins
cordova/google-services.json
