coverage
django
django[argon2]
django-cors-headers
django-enumfield==1.3b2
django-extensions
django-redis
django-rest-swagger
django-jinja
djangorestframework
drf-nested-routers
factory-boy
hiredis
markdown
psycopg2
redis
flake8
pytz
django-filter
django-crispy-forms
django-anymail
sparkpost
django-influxdb-metrics==1.3.1
django-timezone-field
raven
