coverage
django
django-cors-headers
django-enumfield
django-extensions
django-redis
django-rest-swagger
djangorestframework
drf-nested-routers
factory-boy
fake-factory
hiredis
markdown
psycopg2
redis
flake8
pytz
django-filter
django-crispy-forms
