coverage
django
django-cors-headers
django-enumfield
django-extensions
django-polymorphic
django-redis
django-rest-swagger
djangorestframework
drf-nested-routers
elasticsearch
elasticsearch-dsl
factory-boy
fake-factory
hiredis
markdown
psycopg2
PyYAML
redis
six
