<div class="pickupList">

  <!-- Menu Bar -->
  <div ng-show="$ctrl.options.showTopbar">
    <h3 class="md-title"><i class="icon fa fa-shopping-basket" aria-hidden="true"></i>  {{$ctrl.options.header}}</h3>
    <div style="display: inline-block">
      <md-button ng-show="$ctrl.options.showCreateButton" class="md-primary" aria-label="Create Pickup" ng-click="$ctrl.openCreatePickupPanel($event)">
        <i style="font-size: 1.2em;" class="fa fa-plus-circle" aria-hidden="true"></i>
        <span translate="BUTTON.CREATE"></span>
      </md-button>
      <md-menu>
        <md-button class="small"  ng-click="$mdOpenMenu()">
          <span hide-xs translate="PICKUPLIST.FILTER"></span>
          <i class="fa fa-filter" aria-hidden="true"></i>
        </md-button>
        <md-menu-content width="4">
          <md-list>
            <md-list-item>
              <p translate="PICKUPLIST.JOINED"></p>
              <md-checkbox class="md-secondary" ng-model="$ctrl.options.filter.showJoined" ng-change="$ctrl.filterAndDisplayPickups()"></md-checkbox>
            </md-list-item>
            <md-list-item>
              <p translate="PICKUPLIST.OPEN"></p>
              <md-checkbox class="md-secondary" ng-model="$ctrl.options.filter.showOpen" ng-change="$ctrl.filterAndDisplayPickups()"></md-checkbox>
            </md-list-item>
            <md-list-item>
              <p translate="PICKUPLIST.FULL"></p>
              <md-checkbox class="md-secondary" ng-model="$ctrl.options.filter.showFull" ng-change="$ctrl.filterAndDisplayPickups()"></md-checkbox>
            </md-list-item>
          </md-list>
        </md-menu-content>
      </md-menu>
      <md-button class="small" ng-click="$ctrl.toggleReversed()">
        <span hide-xs translate="PICKUPLIST.SORT"></span>
        <i class="fa" ng-class="{ 'fa-angle-down': $ctrl.options.reversed , 'fa-angle-up': !$ctrl.options.reversed  }" aria-hidden="true"></i>
      </md-button>
    </div>
  </div>


  <!-- Items -->
  <md-content style="padding: 0">
    <section ng-repeat="pickupDate in $ctrl.groupedPickups | orderBy:'date':$ctrl.options.reversed">
      <md-subheader ng-show="$ctrl.options.showStickyHeaders" class="md-sticky">{{pickupDate.date| date:'EEEE, dd.MM.yyyy'}}</md-subheader>
      <md-list>
        <pickup-list-item
          ng-repeat="pickup in pickupDate.items| orderBy:['-date']:$ctrl.options.reversed"
          show-detail="$ctrl.options.showDetail"
          on-delete="$ctrl.delete(pickup)"
          parent-ctrl="$ctrl"
          data="pickup">
        </pickup-list-item>
      </md-list>
    </section>
    <md-content ng-if="!$ctrl.groupedPickups.length"  layout-padding>
      <h4 style="margin-bottom: 0"><i class="fa fa-bed"></i> <translate>PICKUPLIST.NONE</translate></h4>
      <small ng-if="!$ctrl.options.showCreateButton" translate="PICKUPLIST.NONE_HINT"></small>
    </md-content>
  </md-content>

  <!-- confirm to delete pickup -->
  <div style="visibility: hidden">
    <div class="md-dialog-container" id="confirmDeleteDialog">
      <md-dialog>
        <div class="md-whiteframe-10dp" layout-fill>
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h2>
                <i style="font-size: 1.5em; margin-right: 1em;" class="fa fa-trash-o"></i>
                <span translate="PICKUPLIST.ITEM.DELETE"></span>
              </h2>
            </div>
          </md-toolbar>
          <div layout-margin>
            <div translate="PICKUPLIST.ITEM.DELETE_TEXT" flex></div>
            <div layout="row" layout-align="end center">
              <md-button class="md-icon-button" ng-click="$ctrl.$mdDialog.cancel()">
                <md-tooltip>
                  <span translate="BUTTON.CANCEL"></span>
                </md-tooltip>
                <i class="fa fa-times"></i>
              </md-button>
              <md-button class="md-raised md-primary" ng-click="$ctrl.$mdDialog.hide()">
                <md-tooltip>
                  <span translate="BUTTON.DELETE"></span>
                </md-tooltip>
                <i class="fa fa-trash-o"></i>
              </md-button>
            </div>
          </div>
      </md-dialog>
    </div>
  </div>
</div>
