<div class="pickupList">

  <!-- Menu Bar -->
  <div ng-show="$ctrl.options.showTopbar">
    <h3 class="md-title"><i class="icon fa fa-shopping-basket" aria-hidden="true"></i>  {{$ctrl.options.header}}</h3>
    <div style="display: inline-block">
      <md-button ng-show="$ctrl.options.showCreateButton" class="small md-primary md-hue-3" aria-label="Create Pickup" ng-click="$ctrl.openCreatePickupPanel($event)">
        <i style="font-size: 1.2em;" class="fa fa-plus-circle" aria-hidden="true"></i>
        <span translate="BUTTON.CREATE"></span>
      </md-button>
      <md-menu>
        <md-button class="small"  ng-click="$mdOpenMenu()">
          <span hide-xs translate="PICKUPLIST.FILTER"></span>
          <i class="fa fa-filter" aria-hidden="true"></i>
        </md-button>
        <md-menu-content width="4">
          <md-list>
            <md-list-item>
              <p translate="PICKUPLIST.JOINED"></p>
              <md-checkbox class="md-secondary" ng-model="$ctrl.options.filter.showJoined" ng-change="$ctrl.filterAndDisplayPickups()"></md-checkbox>
            </md-list-item>
            <md-list-item>
              <p translate="PICKUPLIST.OPEN"></p>
              <md-checkbox class="md-secondary" ng-model="$ctrl.options.filter.showOpen" ng-change="$ctrl.filterAndDisplayPickups()"></md-checkbox>
            </md-list-item>
            <md-list-item>
              <p translate="PICKUPLIST.FULL"></p>
              <md-checkbox class="md-secondary" ng-model="$ctrl.options.filter.showFull" ng-change="$ctrl.filterAndDisplayPickups()"></md-checkbox>
            </md-list-item>
          </md-list>
        </md-menu-content>
      </md-menu>
      <md-button class="small" ng-click="$ctrl.toggleReversed()">
        <span hide-xs translate="PICKUPLIST.SORT"></span>
        <i class="fa" ng-class="{ 'fa-angle-down': $ctrl.options.reversed , 'fa-angle-up': !$ctrl.options.reversed  }" aria-hidden="true"></i>
      </md-button>
    </div>
  </div>


  <!-- Items -->
  <md-content style="padding: 0">
    <section ng-repeat="pickupDate in $ctrl.groupedPickups | orderBy:'date':$ctrl.options.reversed">
      <md-subheader ng-show="$ctrl.options.showStickyHeaders" class="md-sticky">{{pickupDate.date| date:'EEEE, dd.MM.yyyy'}}</md-subheader>
      <md-list>
        <pickup-list-item show-detail="$ctrl.options.showDetail" parent-ctrl="$ctrl" data="pickup" ng-repeat="pickup in pickupDate.items| orderBy:['-date']:$ctrl.options.reversed"></pickup-list-item>
      </md-list>
    </section>
  </md-content>
</div>
