<div style="width: 100%;">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        <i style="font-size: 1.5em; margin-right: 1em;" class="fa fa-shopping-basket"></i>
        <span translate="CREATEPICKUP.TITLE"></span>
      </h2>
    </div>
  </md-toolbar>
  <md-nav-bar md-selected-nav-item="$ctrl.mode">
    <md-nav-item md-nav-click="$ctrl.isSeries = true" name="series">
      <span translate="CREATEPICKUP.SERIES"></span>
    </md-nav-item>
    <md-nav-item md-nav-click="$ctrl.isSeries = false" name="single">
      <span translate="CREATEPICKUP.SINGLE"></span>
    </md-nav-item>
  </md-nav-bar>
  <form ng-submit='createPickupForm.$valid && $ctrl.createPickup()' name="createPickupForm">
    <div layout-padding layout="column">
      <div layout layout-padding>
        <div ng-if="$ctrl.isSeries">
          <div translate="CREATEPICKUP.WEEKDAYS">
            <md-tooltip>
              <span translate="CREATEPICKUP.HINT_MULTIPLE"></span>
            </md-tooltip>
          </div>
          <select multiple ng-model="$ctrl.byDay" size="7">
            <option value="MO" translate="CREATEPICKUP.MONDAY"></option>
            <option value="TU" translate="CREATEPICKUP.TUESDAY"></option>
            <option value="WE" translate="CREATEPICKUP.WEDNESDAY"></option>
            <option value="TH" translate="CREATEPICKUP.THURSDAY"></option>
            <option value="FR" translate="CREATEPICKUP.FRIDAY"></option>
            <option value="SA" translate="CREATEPICKUP.SATURDAY"></option>
            <option value="SU" translate="CREATEPICKUP.SUNDAY"></option>
          </select>
        </div>

        <md-input-container ng-if="!$ctrl.isSeries">
          <md-datepicker required ng-model="$ctrl.pickupData.date" md-placeholder="Enter date" md-open-on-focus md-hide-icons="triangle"></md-datepicker>
        </md-input-container>

        <md-input-container>
          <label translate="CREATEPICKUP.TIME"></label>
          <md-icon class="fa fa-clock-o fa-2x"></md-icon>
          <input ng-model="$ctrl.pickupData.time" name="time" placeholder="20:00"
                 pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
                 type="time" required />
          <div ng-messages="createPickupForm.time.$error" role="alert">
            <span ng-message="time, pattern" translate="CREATEPICKUP.TIME_ERROR"></span>
          </div>
        </md-input-container>
      </div>

      <md-slider-container>
        <label><span translate="CREATEPICKUP.MAX_COLLECTORS"></span>:
          <md-input-container><input tabindex="-1" name="MaxNoCollectors" ng-model="$ctrl.pickupData.maxCollectors"
-                 type="number" min=1 />
          </md-input-container>
        </label>
        <md-slider md-discrete ng-model="$ctrl.pickupData.maxCollectors" step=1 min=1 max=9></md-slider>
      </md-slider-container>

      <div layout="row" layout-align="end center">
        <md-button ng-click="$ctrl.closePanel()">
          <span translate="BUTTON.CANCEL"></span>
        </md-button>
        <md-button class="md-raised md-primary" type="submit" ng-disabled="createPickupForm.$invalid">
          <span translate="BUTTON.CREATE"></span>
        </md-button>
      </div>
    </div>
  </form>
</div>
