<div class="groupDetail">
  <form editable-form name="editableGroup" onaftersave="$ctrl.updateGroupData()">
    <h4 ng-if="editableGroup.$visible" translate="GROUP.TITLE"></h4>
    <div layout="row">
      <div flex editable-text="$ctrl.groupData.name">
        <h1 class="md-headline">
          <i class="fa fa-home" aria-hidden="true"></i>
          {{$ctrl.groupData.name}}
        </h1>
      </div>
      <span ng-show="!editableGroup.$visible">
        <md-button class="md-icon-button" ng-click="editableGroup.$show()"
          aria-label="{{ 'GROUP.EDIT' | translate }}">
          <md-tooltip md-direction="left">
              <span translate="GROUP.EDIT"></span>
          </md-tooltip>
          <i class="fa fa-pencil"></i>
        </md-button>
        <span ng-show="{{$ctrl.error.leaveGroup}}"></span>
        <md-button class="md-icon-button" ng-click="$ctrl.leaveGroup()"
          aria-label="{{ 'GROUP.LEAVE' | translate }}">
          <md-tooltip md-direction="left">
              <span translate="GROUP.LEAVE"></span>
          </md-tooltip>
          <i class="fa fa-fw fa-sign-out"></i>
        </md-button>
      </span>
    </div>

    <h4 ng-if="editableGroup.$visible" translate="GROUP.DESCRIPTION"></h4>
    <div editable-textarea="$ctrl.groupData.description">
      <expandable-panel content="$ctrl.groupData.description" markdown="true" collapse="10"></expandable-panel>
    </div>

    <h4 ng-if="editableGroup.$visible" translate="GROUP.PUBLIC_DESCRIPTION"></h4>
    <div editable-textarea="$ctrl.groupData.public_description"></div>

    <h4 ng-if="editableGroup.$visible" translate="GROUP.PASSWORD"></h4>
    <div editable-text="$ctrl.groupData.password"></div>

    <div ng-show="editableGroup.$visible" layout="row" layout-align="end start">
      <md-button class="md-icon-button" ng-disabled="editableGroup.$waiting" ng-click="editableGroup.$cancel()">
        <i class="fa fa-times"></i>
      </md-button>
      <md-button type="submit" class="md-raised md-primary" ng-disabled="editableGroup.$waiting">
        <i class="fa fa-check"></i>
      </md-button>
    </div>
  </form>
  <md-tabs md-dynamic-height md-border-bottom flex>
    <md-tab>
      <md-tab-label>
        <span translate="GROUP.PICKUPS"></span>
      </md-tab-label>
      <md-tab-body>
        <pickup-list group-id="$ctrl.groupData.id" options="$ctrl.pickupListOptions"></pickup-list>
      </md-tab-body>
    </md-tab>
    <md-tab>
      <md-tab-label>
        <span translate="GROUP.MEMBERS"></span>
      </md-tab-label>
      <md-tab-body>
        <user-list users="$ctrl.groupData.members"></user-list>
      </md-tab-body>
    </md-tab>
    <md-tab>
      <md-tab-label>
        <span translate="GROUP.STORES"></span>
      </md-tab-label>
      <md-tab-body>
        <store-list group-id="$ctrl.groupData.id"></store-list>
      </md-tab-body>
    </md-tab>
  </md-tabs>

  <!-- confirm to leave group -->
  <div style="visibility: hidden">
    <div class="md-dialog-container" id="confirmLeaveDialog">
      <md-dialog>
        <div class="md-whiteframe-10dp" layout-fill>
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h2>
                <i style="font-size: 1.5em; margin-right: 1em;" class="fa fa-sign-out"></i>
                <span translate="GROUP.LEAVE"></span>
              </h2>
            </div>
          </md-toolbar>
          <div layout-margin>
            <div translate="GROUP.LEAVE_TEXT" flex></div>
            <div layout="row" layout-align="end center">
              <md-button class="md-icon-button" ng-click="$ctrl.$mdDialog.cancel()">
                <md-tooltip>
                  <span translate="BUTTON.CANCEL"></span>
                </md-tooltip>
                <i class="fa fa-times"></i>
              </md-button>
              <md-button class="md-raised md-primary" ng-click="$ctrl.$mdDialog.hide()">
                <md-tooltip>
                  <span translate="BUTTON.LEAVE"></span>
                </md-tooltip>
                <i class="fa fa-sign-out"></i>
              </md-button>
            </div>
          </div>
      </md-dialog>
    </div>
  </div>
</div>
