<div class="groupDetail">
  <form editable-form name="editableGroup" onaftersave="$ctrl.updateGroupData()">
    <div layout="row">
      <h1 class="md-headline" flex editable-text="$ctrl.groupData.name">
        <i class="fa fa-home" aria-hidden="true"></i>
        {{$ctrl.groupData.name}}
      </h1>
      <span ng-show="!editableGroup.$visible">
        <md-button class="md-icon-button" ng-click="editableGroup.$show()"
          aria-label="{{ 'GROUP.EDIT' | translate }}">
          <md-tooltip md-direction="left">
              <span translate="GROUP.EDIT"></span>
          </md-tooltip>
          <i class="fa fa-pencil"></i>
        </md-button>
        <span ng-show="{{$ctrl.error.leaveGroup}}"></span>
        <md-button class="md-icon-button" ng-click="$ctrl.leaveGroup()"
          aria-label="{{ 'GROUP.LEAVE' | translate }}">
          <md-tooltip md-direction="left">
              <span translate="GROUP.LEAVE"></span>
          </md-tooltip>
          <i class="fa fa-fw fa-sign-out"></i>
        </md-button>
      </span>
    </div>
    <div editable-textarea="$ctrl.groupData.description">
      <div ng-bind-html="$ctrl.descriptionHTML"></div>
    </div>
    <div ng-show="editableGroup.$visible" layout="row" layout-align="end start">
      <md-button class="md-icon-button" ng-disabled="editableGroup.$waiting" ng-click="editableGroup.$cancel()">
        <i class="fa fa-times"></i>
      </md-button>
      <md-button type="submit" class="md-raised md-primary" ng-disabled="editableGroup.$waiting">
        <i class="fa fa-check"></i>
      </md-button>
    </div>
  </form>
  <md-tabs md-dynamic-height md-border-bottom flex>
    <md-tab>
      <md-tab-label>
        <span translate="GROUP.PICKUPS"></span>
      </md-tab-label>
      <md-tab-body>
        <pickup-list group-id="$ctrl.groupData.id" options="$ctrl.pickupListOptions"></pickup-list>
      </md-tab-body>
    </md-tab>
    <md-tab>
      <md-tab-label>
        <span translate="GROUP.MEMBERS"></span>
      </md-tab-label>
      <md-tab-body>
        <user-list users="$ctrl.groupData.members"></user-list>
      </md-tab-body>
    </md-tab>
    <md-tab>
      <md-tab-label>
        <span translate="GROUP.STORES"></span>
      </md-tab-label>
      <md-tab-body>
        <store-list group-id="$ctrl.groupData.id"></store-list>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</div>
