<div class="groupDetail" translate-namespace="GROUP">
  <div layout="row">
    <h1 class="md-headline" flex>{{$ctrl.groupdata.name}}</h1>
    <span ng-show="{{$ctrl.error.leaveGroup}}"></span>
    <md-button class="md-icon-button" ng-click="$ctrl.leaveGroup()"
      aria-label="{{ 'GROUP.LEAVE' | translate }}">
      <i class="fa fa-fw fa-sign-out"></i>
    </md-button>
  </div>
  <p>{{$ctrl.groupdata.description}}</p>
  <md-tabs md-dynamic-height md-border-bottom flex>
    <md-tab>
      <md-tab-label>
        <translate translate=".PICKUPS" translate-default="Pickups"/>
      </md-tab-label>
      <md-tab-body>
        <pickup-list group-id="{{$ctrl.groupdata.id}}" show-detail="store"></pickup-list>
      </md-tab-body>
    </md-tab>
    <md-tab>
      <md-tab-label>
        <translate translate=".MEMBERS" translate-default="Members"/>
      </md-tab-label>
      <md-tab-body>
        <user-list users="$ctrl.groupdata.members"></user-list>
      </md-tab-body>
    </md-tab>
    <md-tab>
      <md-tab-label>
        <translate translate=".STORES" translate-default="Stores"/>
      </md-tab-label>
      <md-tab-body>
        <store-list stores="$ctrl.stores"></store-list>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</div>
