{% trans %}Welcome to **karrot**!

Come in, click around and do whatever you feel like! :carrot: No need to worry, nothing can be broken here! :)

All email notifications are disabled by default.{% endtrans %}
