.home
  color red

.groupList
  border: 2px solid #dddddd
  border-radius: 5px
  margin-bottom: 1em
  padding: 0em !important
  background-color: #f6f6f6
  min-height: 0
  width: 100%

.small
  font-size: 70%
