.groupDetail h1
  display inline-block

.groupDetail > div > h1 > i
    margin-right .3em

#group-detail-sidenav md-toolbar
    height: 42px
    max-height: 42px
    min-height: 42px

group-detail h1
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

@media (max-width: 559px)
    group-detail h1
        font-size: 4vw !important


@media (min-width: 600px)
    group-detail h1
        font-size: 1.2em !important


group-detail nav ul
    max-width: 2em

group-detail md-nav-ink-bar
    display: none

group-detail nav
    overflow: auto

@media (max-width: 70em)
    div.flex
      margin: 0em !important