group
  #group-detail-sidenav
    width 25em
    max-width 70%

  group-detail
    nav
      overflow auto
      ul
        max-width 2em
    md-nav-ink-bar
      display none

  @media (max-width: 70em)
    div.flex
      margin 0 !important
  .group-map-toolbar
    .fa.fa-bot-right
      left 5px
      top 5px
    .fa.fa-check
      color green
    .fa.fa-times
      color darkred