<div layout="row">
  <div flex></div>

  <!-- Stores Sidenav -->
  <span ng-if="$ctrl.$mdMedia('gt-sm')" id="group-detail-sidenav" style="margin-right: 2em">
    <div class="md-whiteframe-2dp no-padding" style="margin-bottom: 1em">
      <md-toolbar class="md-hue-1">
        <div class="md-toolbar-tools">
          <h3 translate="GROUP.MAP" flex></h3>
          <md-button ng-click="$ctrl.CurrentGroup.map.showOverview()"
                     class="md-icon-button">
              <i class="fa fa-bullseye"></i>
          </md-button>
          <md-button class="md-icon-button"
            ng-click="$ctrl.CurrentGroup.map.options.showStores = !$ctrl.CurrentGroup.map.options.showStores; $ctrl.CurrentGroup.map.update();">
              <span class="fa-stack" ng-if="!$ctrl.CurrentGroup.map.options.showStores">
                <i class="fa fa-shopping-cart fa-stack-1x"></i>
                <i class="fa fa-times fa-bot-right fa-stack-1x"></i>
              </span>
              <span class="fa-stack" ng-if="$ctrl.CurrentGroup.map.options.showStores">
                <i class="fa fa-shopping-cart fa-stack-1x"></i>
                <i class="fa fa-check fa-bot-right fa-stack-1x"></i>
              </span>
          </md-button>
          <md-button class="md-icon-button"
            ng-click="$ctrl.CurrentGroup.map.options.showUsers = !$ctrl.CurrentGroup.map.options.showUsers; $ctrl.CurrentGroup.map.update();">
              <span class="fa-stack" ng-if="!$ctrl.CurrentGroup.map.options.showUsers">
                <i class="fa fa-user fa-stack-1x"></i>
                <i class="fa fa-times fa-bot-right fa-stack-1x"></i>
              </span>
              <span class="fa-stack" ng-if="$ctrl.CurrentGroup.map.options.showUsers">
                <i class="fa fa-user fa-stack-1x"></i>
                <i class="fa fa-check fa-bot-right fa-stack-1x"></i>
              </span>
          </md-button>
        </div>
      </md-toolbar>
      <div>
        <group-map></group-map>
      </div>
      
    </div>
    <div class="md-whiteframe-2dp no-padding">
      <md-toolbar class="md-hue-1">
        <div class="md-toolbar-tools">
          <h3 translate="GROUP.STORES"></h3>
        </div>
      </md-toolbar>
      <div>
        <store-list group-id="$ctrl.groupData.id"></store-list>
      </div>
    </div>
  </span>

  <!-- Main Window -->
  <div class="md-whiteframe-2dp no-padding main-panel">
      <ui-view></ui-view>
  </div>

  <div flex></div>
</div>
