<div layout="row">
  <div flex></div>

  <!-- Stores Sidenav -->
  <span ng-if="$ctrl.$mdMedia('gt-sm')" id="group-detail-sidenav" style="margin-right: 2em">
    <div class="md-whiteframe-2dp no-padding" style="margin-bottom: 1em">
      <md-toolbar class="md-hue-1">
        <div class="md-toolbar-tools">
          <h3 translate="GROUP.MAP"></h3>
        </div>
      </md-toolbar>
      <div>
        <group-map></group-map>
      </div>
      <md-button ng-click="$ctrl.CurrentGroup.map.showOverview()">Overview</md-button>
      <md-button ng-click="$ctrl.CurrentGroup.map.showUsers(true)">Show users</md-button>
      <md-button ng-click="$ctrl.CurrentGroup.map.showUsers(false)">Hide stores</md-button>
    </div>
    <div class="md-whiteframe-2dp no-padding">
      <md-toolbar class="md-hue-1">
        <div class="md-toolbar-tools">
          <h3 translate="GROUP.STORES"></h3>
        </div>
      </md-toolbar>
      <div>
        <store-list group-id="$ctrl.groupData.id"></store-list>
      </div>
    </div>
  </span>

  <!-- Main Window -->
  <div class="md-whiteframe-2dp no-padding main-panel">
      <ui-view></ui-view>
  </div>

  <div flex></div>
</div>
