group
  .groupDetail
    h1
      display inline-block
    > div > h1 > i
      margin-right .3em

  md-toolbar
    height 42px
    max-height 42px
    min-height 42px

  #group-detail-sidenav
      width 25em
      max-width 70%

  @media (max-width: 559px)
      group-detail h1
          font-size 4vw !important

  @media (min-width: 600px)
      group-detail h1
          font-size 1.2em !important

  group-detail
    nav
      overflow auto
      ul
        max-width 2em
    md-nav-ink-bar
      display none
    h1
      overflow hidden
      text-overflow ellipsis
      white-space nowrap

  @media (max-width: 70em)
      div.flex
        margin 0 !important
