<div class="md-whiteframe-2dp no-padding">
  <md-toolbar class="md-hue-1">
    <div class="md-toolbar-tools">
      <h1 flex>
        <i class="fa fa-bell-o" aria-hidden="true"></i>
        <span translate="NOTIFICATIONS.TITLE"></span>
      </h1>
    </div>
  </md-toolbar>
  <div class="content">
    <md-list>
      <md-list-item ng-if="!$ctrl.isVerified()">
        <span>
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <span> {{ $ctrl.userdata.unverified_email }}</span>
        </span>
        <md-button class="md-icon-button md-accent md-raised" ng-click="$ctrl.sendVerification($ctrl.userdata.email)">
          <md-tooltip>
            <span translate="NOTIFICATIONS.RESEND_VERIFICATION"></span>
          </md-tooltip>
          <i class="fa fa-repeat" aria-hidden="true"></i>
        </md-button>
        <span class="md-secondary">
          <md-tooltip>
            <span translate="NOTIFICATIONS.NOT_VERIFIED"></span>
          </md-tooltip>
          <i class="fa fa-times" md-colors="::{color: 'warn'}" aria-hidden="true"></i>
        </span>
      </md-list-item>
    </md-list>
  </div>
</div>
