defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/node:8.5

build-android: &build-android
  name: build android
  command: |
    cd ~/repo/cordova
    rm -f config/current
    ln -s "$CORDOVA_ENV" config/current
    cordova platform add android
    ./build android "$CORDOVA_ENV" release "$CORDOVA_PASSWORD"
    mv platforms/android/build/outputs/apk/release/android-release.apk /tmp
    ssh-keyscan -H $HOST >> ~/.ssh/known_hosts
    rsync -avz /tmp/android-release.apk "deploy@$HOST:karrot-app/$DIR/app.apk"

version: 2
jobs:
  install-dependencies:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-
      - run: yarn
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - persist_to_workspace:
          root: ~/repo
          paths:
            - .

  test:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo
      - run: yarn test --ci --runInBand
      - run: bash <(curl -s https://codecov.io/bash)

  install-e2e-dependencies:
    working_directory: ~/repo
    docker:
      - image: node:8.5
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: prepare backend
          command: |
            set -x
            export LC_ALL=C.UTF-8
            export LANG=C.UTF-8
            apt-get update
            apt-get install -y python3 python3-dev virtualenv
            git clone https://github.com/yunity/karrot-backend
            cd karrot-backend
            virtualenv -p python3 env
            env/bin/pip install --upgrade pip
            env/bin/pip install -r requirements-dev.txt
            env/bin/pip-sync requirements*.txt
            cp config/local_settings.py.ci config/local_settings.py
      - persist_to_workspace:
          root: ~/repo
          paths:
            - karrot-backend/*

  e2e-test:
    working_directory: ~/repo
    docker:
      - image: node:8.5
        environment:
          PGHOST: 127.0.0.1
      - image: circleci/postgres:9.6.2
        environment:
          POSTGRES_USER: ubuntu
          POSTGRES_DB: fstool_e2etest
      - image: redis:3.2.11
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: run backend
          command: |
            set -x
            export LC_ALL=C.UTF-8
            export LANG=C.UTF-8
            apt-get update
            apt-get install -y python3 python3-dev virtualenv
            cd karrot-backend
            env/bin/python manage.py migrate
            env/bin/python manage.py runserver
          background: true
      - run:
          name: run frontend
          command: yarn serve
          background: true
      - run:
          name: wait for frontend to get ready
          command: wget --retry-connrefused -T 30 http://localhost:8080
      - run:
          name: wait for backend to get ready
          command: wget --retry-connrefused -T 30 http://localhost:8000/api/groups-info/
      - run:
          name: list all available browsers for your personal benefit
          command: $(yarn bin)/testcafe -b saucelabs
          background: true
      - run:
          name: testcafe
          command: yarn e2e --ci

  lint:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo
      - run: yarn lint

  build-dev:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run:
          environment:
            KARROT_THEME: dev
          command: yarn build
      - persist_to_workspace:
          root: ~/repo
          paths:
            - dist

  build-prod:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run: yarn build
      - persist_to_workspace:
          root: ~/repo
          paths:
            - dist

  build-storybook:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run: yarn build-storybook
      - persist_to_workspace:
          root: ~/repo
          paths:
            - storybook-static

  build-docs:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run:
          name: build docs
          command: |
            set +e
            yarn build-docs
      - persist_to_workspace:
          root: ~/repo
          paths:
            - docs-dist

  build-cordova-dev:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run:
          name: build cordova app
          command: yarn build:cordova:dev
      - persist_to_workspace:
          root: ~/repo
          paths:
            - dist

  build-cordova-prod:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run:
          name: build cordova app
          command: yarn build:cordova:prod
      - persist_to_workspace:
          root: ~/repo
          paths:
            - dist

  build-android-dev:
    working_directory: ~/repo
    docker:
      - image: karrot/android-build:api-27-node8-alpha
    steps:
      - checkout
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
          - gradle-cache
      - run:
          <<: *build-android
          name: build android apk
          environment:
            HOST: yuca.yunity.org
            DIR: master
            CORDOVA_ENV: dev
      - save_cache:
          paths:
            - ~/.gradle
          key: gradle-cache
      - store_artifacts:
          path: /tmp/android-release.apk
          destination: android-release.apk

  build-android-prod:
    working_directory: ~/repo
    docker:
      - image: karrot/android-build:api-27-node8-alpha
    steps:
      - checkout
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
          - gradle-cache
      - run:
          <<: *build-android
          name: build android apk
          environment:
            HOST: yuca.yunity.org
            DIR: release
            CORDOVA_ENV: prod
      - save_cache:
          paths:
            - ~/.gradle
          key: gradle-cache
      - store_artifacts:
          path: /tmp/android-release.apk
          destination: android-release.apk

  deploy-dev:
    <<: *defaults
    steps:
      - run: sudo apt install -y rsync
      - checkout
      - attach_workspace:
          at: ~/repo
      - deploy:
          name: Dev Deploy
          command: |
            ./deploy.sh "${CIRCLE_BRANCH}" "${CIRCLE_BRANCH}"

  deploy-release:
    <<: *defaults
    steps:
      - run: sudo apt install -y rsync
      - checkout
      - attach_workspace:
          at: ~/repo
      - deploy:
          name: Release Deploy
          command: |
            ./deploy.sh "${CIRCLE_BRANCH}" release

workflows:
  version: 2
  all-the-things:
    jobs:
      - install-dependencies
      - test:
          requires:
            - install-dependencies
      - lint:
          requires:
            - install-dependencies
      - build-dev:
          requires:
            - install-dependencies
      - build-storybook:
          requires:
            - install-dependencies
      - build-docs:
          requires:
            - install-dependencies
      - build-cordova-dev:
          requires:
            - install-dependencies
      - build-android-dev:
          filters:
            branches:
              only:
                - master
          requires:
            - build-cordova-dev
      - deploy-dev:
          filters:
            branches:
              only:
                - master
          requires:
            - test
            - lint
            - build-dev
            - build-storybook
            - build-docs
      - approval:
          type: approval
          requires:
            - deploy-dev
      - build-prod:
          requires:
            - approval
      - build-cordova-prod:
          requires:
            - build-prod
      - build-android-prod:
          filters:
            branches:
              only:
                - master
          requires:
            - build-cordova-prod
      - install-e2e-dependencies:
          requires:
            - build-prod
      - e2e-test:
          requires:
            - install-e2e-dependencies
      - deploy-release:
          filters:
            branches:
              only:
                - master
          requires:
            - e2e-test
