pickup-feedback
  > div
    margin 1em
  .image-and-text
    .image-and-text-left
      width 30%
      max-width 10em
      padding 2em
    .image-and-text-right
      margin auto
  .pickup-amount md-input-container
    width 5em
    input
      width 5em
      text-align center
  .md-button.md-raised
    float right