<md-toolbar class="md-hue-1">
  <div class="md-toolbar-tools">
    <h1 flex>
      <i class="fa fa-shopping-basket" aria-hidden="true"></i>&nbsp;
      <span translate="PICKUP_FEEDBACK.TITLE"></span>
    </h1>
  </div>    
</md-toolbar>
<div>
  <div style="margin-bottom: 4.5em" layout="row" class="image-and-text">
    <div ng-if="$ctrl.$mdMedia('gt-xs')" class="image-and-text-left">
      <img style="width: 100%" ng-src="{{$ctrl.cartImg}}">
    </div>
    <div flex  class="image-and-text-right">
      <h1 translate="PICKUP_FEEDBACK.HEADER"></h1>
      <p translate="PICKUP_FEEDBACK.SUBTITLE"></p>
    </div>
  </div>
  
  <h4 translate="PICKUP_FEEDBACK.AMOUNT"></h4>
  <div class="amount-images">
    <img ng-repeat="imgSrc in $ctrl.amountImages track by $index" ng-class="{'high': $ctrl.getHight(imgSrc)}" ng-src="{{imgSrc}}">
  </div>
  <div layout="row" class="pickup-amount">
    <md-slider-container flex>
      <md-slider flex min="0" max="20" step="0.5"  ng-change="$ctrl.setFeedbackImages()" aria-label="amount" ng-model="$ctrl.data.amount" id="amount-slider">
      </md-slider>
    </md-slider-container>
    <md-input-container>
      <input type="number"  aria-label="amount" ng-change="$ctrl.setFeedbackImages()" ng-model="$ctrl.data.amount" aria-controls="amount-slider">
    </md-input-container> 
  </div>
  
  <h4 translate="PICKUP_FEEDBACK.COMMENT"></h4>
  <md-input-container class="md-block">
    <textarea ng-model="$ctrl.data.comment" md-maxlength="150" rows="1" placeholder="{{'PICKUP_FEEDBACK.COMMENT_PLACEHOLDER' | translate}}" md-select-on-focus></textarea>
  </md-input-container>
  
  <md-button aria-label="{{ 'BUTTON.SUBMIT' | translate }}" class="md-raised md-primary" translate="BUTTON.SUBMIT"></md-button>
</div>
