// Global style file
// This file should only contain styles that apply to index.html
// In some cases, it can also contain global overrides

body
  font-family "Roboto", "Noto Sans", "Noto Sans CJK", sans-serif
  > md-content
    height 100%

input, button, select, textarea
  font-family inherit
  font-size inherit
  line-height inherit

// Fix: leaflet controls should be below md-dialog
.leaflet-control-container
  .leaflet-top
  .leaflet-bottom
    z-index 75 !important
