<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="cordova-plugin-cookieemperor" version="1.0.0">
    <name>CookieEmperor</name>
    <description>Since the original cookie-master is no longer maintained, I forked this project to make it run within the latest SDK (deprecated errors)</description>
    <license>MIT</license>

    <keywords>cordova,phonegap,cookie,cookies,cookie-manager,cookie-plugin,cookie-emperor</keywords>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines> 
 
    <js-module src="www/cookieEmperor.js" name="cookieEmperor">
        <clobbers target="cookieEmperor" />
    </js-module>
    
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CookieEmperor">
                <param name="ios-package" value="CDVCookieEmperor"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CDVCookieEmperor.h" />
        <source-file src="src/ios/CDVCookieEmperor.m" />
    </platform>
    
    <!-- android -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CookieEmperor">
                <param name="android-package" value="de.rouvenkruse.cordova.plugins.cookieemperor.CookieEmperor"/>
            </feature>
        </config-file>
 
        <source-file src="src/android/de/rouvenkruse/cordova/plugins/cookieemperor/CookieEmperor.java" target-dir="src/de/rouvenkruse/cordova/plugins/cookieemperor" />
    </platform>          
</plugin>
