<md-card layout-padding class="md-whiteframe-4dp content">
  <h2 translate="PASSWORDRESET.TITLE"></h2>
  <p translate="PASSWORDRESET.INTRO"></p>
  <form ng-if="!$ctrl.successful" name="passwordresetForm" ng-submit="$ctrl.doReset()" promise-btn>
    <md-input-container class="md-block">
      <label translate="PASSWORDRESET.EMAIL"></label>
      <input type="text" name="email" required ng-model="$ctrl.email">
      {{ $ctrl.error }}
    </md-input-container>
    <md-button class="md-raised md-accent" type="submit" ng-disabled="!passwordresetForm.$valid">
      <span translate="PASSWORDRESET.SUBMIT"></span>
    </md-button>
  </form>
  <div ng-if="$ctrl.successful">
    <md-divider></md-divider>
    <p translate="PASSWORDRESET.SUCCESS"></p>
    <md-divider></md-divider>
  </div>
  <md-button ui-sref="login">
    <span translate="PASSWORDRESET.LOGIN"></span>
  </md-button>
</md-card>
