<md-menu md-position-mode="target bottom" md-offset="0 3">
  <md-button md-menu-origin ng-click="$mdMenu.open($event)">
    <i class="fa fa-globe"></i>
    {{ $ctrl.$translate.use() }}
  </md-button>
  <md-menu-content>
    <md-menu-item ng-repeat="(langKey, name) in $ctrl.providedLangs">
      <md-button ng-click="$ctrl.changeLanguage(langKey)" md-menu-align-target>
        <strong>{{ name }}</strong>
      </md-button>
    </md-menu-item>
    <md-menu-item>
      <md-button aria-label="{{'LANGUAGECHOOSER.ADD_MORE' | translate}}" href="https://www.transifex.com/yunity-1/foodsaving-tool/dashboard/">
        <i class="fa fa-external-link"></i>
        <span translate="LANGUAGECHOOSER.ADD_MORE"></span>
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>
