{% extends '_base.html' %}


{% block content %}

    <h1>New Mappable</h1>

    <form method="POST">
        {{ csrf_input }}
        <label>category</label><input name="category" placeholder="required" />
        <label>description</label><input name="description" placeholder="not required" />
        <label>latitude</label><input name="latitude" placeholder="required" />
        <label>longitude</label><input name="longitude" placeholder="required" />
        <input type="submit" />
    </form>

{% endblock %}