#notification
    width: 100%
    max-width: 60em
    .fa
        margin-right: 1em
    div.content
        padding: 20px
#verify
    float: right
.btn1
    background-color: #0cb50c !important
    margin-top: -8px !important
.btn1-text
    color: white