activity
  .avatar
    max-width 42px
    margin-right 0.5em
  .avatar > div
    width 20px
    float right
    overflow hidden
    border-left 1px solid white
  .avatar.s2 > div
    width 19px
  .avatar.s3 > div
    width 13px
  .avatar.s4 > div
    width 9px
  .avatar.s5 > div
    width 7.4px
