history {
  ul {
    list-style: none;

  }
  .date {
    border-bottom: 1px solid #ccc;
    opacity: 0.4;
    margin-top: 1em;
    margin-bottom: 0.2em;
    clear:both;
    padding: 0.3em;
  }
  .desc {
    padding: 0.3em;
    padding-left: 1em;
  }
  .time {
    font-size: 0.8em;
    max-width: 60px;
    text-align: right;
    opacity: 0.4;
    padding: 0.2em;
  }
  .avatar {
    max-width: 42px;
    margin-right: 0.5em;
  }
  .avatar > div {
    width: 20px;
    float:right;
    overflow: hidden;
    border-left: 1px solid #fff;
  }
  .avatar.s2 > div {
    width: 19px;
  }
  .avatar.s3 > div {
    width: 13px;
  }
  .avatar.s4 > div {
    width: 9px;
  }
  .avatar.s5 > div {
    width: 7.4px;
  }
}
