<div>
  <div class="date">
    Freitag, 3. April
  </div>
  <div layout="row">
    <div flex class="time">
      17:30
    </div>
    <div flex class="avatar">
      <div><profile-picture identicon="134" size="20"></profile-picture></div>
    </div>
    <div flex class="">
        Lorem Ipsum
    </div>
  </div>
  <div layout="row">
    <div flex class="time">
      17:30
    </div>
    <div flex class="avatar s2">
      <div>
        <a ui-sref="userDetail({id:50})">
          <profile-picture identicon="134" size="20"></profile-picture>
          <md-tooltip>
            Test
          </md-tooltip>
        </a>
      </div>
      <div>
        <a ui-sref="userDetail({id:50})">
          <profile-picture identicon="134" size="20"></profile-picture>
          <md-tooltip>
            Test
          </md-tooltip>
        </a>
      </div>
    </div>
    <div flex class="">
        Lorem Ipsum
    </div>
  </div>
  <div layout="row">
    <div flex class="time">
      17:30
    </div>
    <div flex class="avatar s4">
      <div><profile-picture identicon="134" size="20"></profile-picture></div>
      <div><profile-picture identicon="134" size="20"></profile-picture></div>
      <div><profile-picture identicon="134" size="20"></profile-picture></div>
      <div><profile-picture identicon="134" size="20"></profile-picture></div>
    </div>
    <div flex class="">
        Lorem Ipsum
    </div>
  </div>
  <div class="date">
    Freitag, 3. April
  </div>
  <div layout="row">
    <div flex class="time">
      17:30
    </div>
    <div flex class="avatar s5">
      <div><profile-picture identicon="134" size="20"></profile-picture></div>
      <div><profile-picture identicon="134" size="20"></profile-picture></div>
      <div><profile-picture identicon="134" size="20"></profile-picture></div>
      <div><profile-picture identicon="134" size="20"></profile-picture></div>
      <div><profile-picture identicon="134" size="20"></profile-picture></div>
    </div>
    <div flex class="">
        Lorem Ipsum
    </div>
  </div>
  <div layout="row">
    <div flex class="time">
      17:30
    </div>
    <div flex class="avatar s3">
      <div><profile-picture identicon="134" size="20"></profile-picture></div>
      <div><profile-picture identicon="134" size="20"></profile-picture></div>
      <div><profile-picture identicon="134" size="20"></profile-picture></div>
    </div>
    <div flex class="">
        Lorem Ipsum
    </div>
  </div>
</div>
