pickup-list-item > div
  border 2px solid rgba(0, 0, 0, .1)
  border-radius 5px
  margin-bottom 1em
  .content
    padding 0 0 5px 8px
    .people .counter
      margin 8px
      display inline-block

  .tools
    .md-button
      height 100%
      margin 0
      min-width 65px

  .md-button
    text-transform none
    
