pickup-list-item
  md-list-item
    border 2px solid rgba(0, 0, 0, .1)
    border-radius 5px
    margin-bottom 1em

  .md-button
    text-transform none

  .timedetail
    margin-top .5em

  .comment
    margin-top .5em
