$lightRed = #FFF5F5

pickup-list-item > div
  border 2px solid rgba(0, 0, 0, .1)
  border-radius 5px
  margin-bottom 0.6em
  .content
    padding 0 0 4px 8px
    overflow-x auto
    a
      margin 0
      min-width 30px
    .people .counter
      display inline-block
      height 20px
      vertical-align top
      line-height 20px
  .content.empty
      background repeating-linear-gradient(
        135deg,
        white,
        white 15px,
        $lightRed 15px,
        $lightRed 30px
      )

  .tools
    .md-button
      height 100%
      margin 0
      min-width 65px

  .md-button
    text-transform none
    
