<md-list-item class="md-3-line">
  <div flex>
    <div class="timedetail">
      <span class="md-title">{{$ctrl.data.date| date:'shortTime'}}</span>
      <span>
        <span ng-if="$ctrl.showStoreDetail">
          <md-button
            ui-sref="group.store({ storeId: $ctrl.storeData.id, groupId: $ctrl.storeData.group })">
            {{$ctrl.storeData.name}}
          </md-button>
        </span>
        <span ng-if="!$ctrl.showStoreDetail">
          {{$ctrl.data.date | date:'fullDate'}}
        </span>
      </span>
    </div>
    <div ng-if="$ctrl.data.comment !== ''" class="md-caption comment">
      {{ $ctrl.data.comment }}
    </div>
    <div layout="row" layout-xs="column" layout-align="start center">
      <md-button ng-repeat="id in $ctrl.data.collector_ids" ui-sref="userDetail({ id })">
        {{ $ctrl.CurrentUsers.get(id).display_name }}
      </md-button>
      <span class="md-caption">({{$ctrl.data.collector_ids.length}}/{{$ctrl.data.max_collectors}})</span>
      <span flex></span>
      <md-button aria-label="{{'PICKUPLIST.ITEM.LEAVE' | translate}}" ng-click="$ctrl.leave()" promise-btn ng-if="$ctrl.meta.isUserMember" class="md-accent">
        <span translate="PICKUPLIST.ITEM.LEAVE"></span>
      </md-button>
      <md-button aria-label="{{'PICKUPLIST.ITEM.JOIN' | translate}}" ng-click="$ctrl.join()" promise-btn ng-if="!$ctrl.meta.isUserMember && !$ctrl.meta.isFull" class="md-raised md-primary">
        <span translate="PICKUPLIST.ITEM.JOIN"></span>
      </md-button>
      <md-button aria-label="{{'PICKUPLIST.ITEM.FULL' | translate}}" ng-disabled="true" ng-if="!$ctrl.meta.isUserMember && $ctrl.meta.isFull">
        <span translate="PICKUPLIST.ITEM.FULL"></span>
      </md-button>
    </div>
  </div>
</md-list-item>
