{% extends "base-text.jinja" %}

{% block content %}
{% trans %}{{ invited_by_name }} invited you ({{ email }}) to join the "{{ group_name }}" community on foodsaving.world.

If you'd like to join, please go to {{ invite_url }}{% endtrans %}
{% endblock %}
