<div layout="column" layout-padding>
  <md-input-container>
    <label translate="STOREEDIT.NAME"></label>
    <input required type="text" ng-model="$ctrl.editData.name"/>
  </md-input-container>
  
  <markdown-input translation-label="STOREEDIT.DESCRIPTION" model="$ctrl.editData.description"></markdown-input>

  <md-autocomplete
    placeholder="{{'STOREEDIT.ADDRESS' | translate}}"
    md-search-text="$ctrl.query"
    md-items="item in $ctrl.geoLookup()"
    md-item-text="item.address"
    md-selected-item-change="$ctrl.trySetLocation(item)"
    md-search-text-change="$ctrl.deleteIfEmpty($ctrl.query)"
    md-delay="500"
    style="padding:0">
    <md-item-template>
      <span md-highlight-text="$ctrl.query">{{item.address}}</span>
    </md-item-template>
  </md-autocomplete>

  <leaflet
    height="200"
    center="$ctrl.mapCenter"
    defaults="$ctrl.mapDefaults"
    markers="$ctrl.marker"
    class="md-whiteframe-z1">
  </leaflet>

  <h4 translate="STOREEDIT.WEEKS_IN_ADVANCE"></h4>
  <md-slider-container>
    <md-slider flex md-discrete min="1" step="1" max="10" ng-model="$ctrl.editData.weeks_in_advance" aria-label="{{'STOREEDIT.WEEKS_IN_ADVANCE' | translate}}" id="week-slider">
    </md-slider>
    <md-input-container>
      <input flex type="number" ng-model="$ctrl.editData.weeks_in_advance" aria-label="{{'STOREEDIT.WEEKS_IN_ADVANCE' | translate}}" aria-controls="week-slider">
    </md-input-container>
  </md-slider-container>

  <div ng-model="$ctrl.editData.weeks_in_advance"></div>
</div>
