<topbar></topbar>
<div layout="row">
  <div flex-offset-gt-xs="15" flex-gt-xs="70"
       flex-offset="0" flex="100"
       class="md-whiteframe-2dp main-panel">
    <ui-view></ui-view>
  </div>
</div>
<p class="footer">
  made with &#9829; by <a href="https://yunity.org">yunity</a> |
  contribute on <a href="https://github.com/yunity/foodsaving-frontend"><i class="fa fa-github"></i> Github</a> |
  mail <a href="mail:fstool@yunity.org">
    fstool@yunity.org
    <md-tooltip md-direction="top">
      <span translate="GLOBAL.DEVMAIL_NOTE"></span>
    </md-tooltip>
  </a>
</p>
