<topbar></topbar>
<div layout="row">
  <div flex-offset-gt-xs="5" flex-gt-xs="90"
       flex-offset="0" flex="100"
       class="main-panel">
    <ui-view></ui-view>
  </div>
</div>
<p class="footer">
  Foodsaving Tool <a href="https://github.com/yunity/foodsaving-frontend/blob/master/CHANGELOG.md">Release 1</a> |
  made with <i class="fa fa-heart"></i> by <a href="https://yunity.org">yunity</a> |
  contribute on <a href="https://github.com/yunity/foodsaving-frontend"><i class="fa fa-github"></i> GitHub</a> |
  <i class="fa fa-envelope"></i>
  <a href="mail:fstool@yunity.org">
    fstool@yunity.org
    <md-tooltip md-direction="top">
      <span translate="GLOBAL.DEVMAIL_NOTE"></span>
    </md-tooltip>
  </a>
</p>
