<md-toolbar class="md-hue-1">
  <div class="md-toolbar-tools">
    <h1 flex>
      <i class="fa fa-home" aria-hidden="true"></i>&nbsp;
      {{$ctrl.groupData.name}}
    </h1>
    <group-options group-data="$ctrl.groupData"></group-options>
  </div>
</md-toolbar>

<div layout-padding>
  <div ng-if="$ctrl.groupData.address">
    <i class="fa fa-fw fa-map-marker"></i>
    {{$ctrl.groupData.address}}
  </div>
  <div ng-if="$ctrl.ScreenSize.isGtSm()">
    <expandable-panel content="$ctrl.groupData.description" markdown="true" collapse="10"></expandable-panel>
  </div>
  <div class="md-padding">
    <md-nav-bar md-selected-nav-item="$ctrl.currentNavItem" nav-bar-aria-label="group navigation">
      <md-nav-item md-nav-sref="group.groupDetail.pickups" name="pickups">
        <span translate="GROUP.PICKUPS"></span>
      </md-nav-item>
      <md-nav-item md-nav-sref="group.groupDetail.activity" name="activity">
        <span translate="GROUP.ACTIVITY"></span>
      </md-nav-item>
      <md-nav-item ng-if="!$ctrl.ScreenSize.isGtSm()" md-nav-sref="group.groupDetail.description" name="description">
        <span translate="GROUP.DESCRIPTION"></span>
      </md-nav-item>
      <md-nav-item md-nav-sref="group.groupDetail.members" name="members">
        <span translate="GROUP.MEMBERS"></span> ({{$ctrl.groupData.members.length}})
      </md-nav-item>
    </md-nav-bar>

    <ui-view></ui-view>
  </div>
</div>
