import os

BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'fstool-db',
        'USER': 'fstool-user',
        'PASSWORD': 'fstool-pw',
        'HOST': 'localhost',
        'PORT': '',
    }
}

INFLUXDB_HOST = '127.0.0.1'
INFLUXDB_PORT = '8086'
INFLUXDB_USER = ''
INFLUXDB_PASSWORD = ''
INFLUXDB_DATABASE = 'fstool'
INFLUXDB_TAGS_HOST = 'yuca'
INFLUXDB_TIMEOUT = 2
INFLUXDB_USE_CELERY = False
INFLUXDB_USE_THREADING = True

SHELL_PLUS_PRE_IMPORTS = (
)

ANYMAIL = {
    "SPARKPOST_API_KEY": "your sparkpost key"
}

DEFAULT_FROM_EMAIL = "your mail domain"