import os

BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'fstool-db',
        'USER': 'fstool-user',
        'PASSWORD': 'fstool-pw',
        'HOST': 'localhost',
        'PORT': '5432',
    }
}

SECRET_KEY = 'c*#4=n$s4!*gdgq3nora#a$*xznctg-6=4_edeg9^dsxk&=p=$'
DEBUG = True

# needed for deployment
# STATIC_ROOT = './static/'
# ALLOWED_HOSTS = ['*']


######
# Mail configuration
# Uses the console backend for local development
# Set the sparkpost key on deploy
######

EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'

# ANYMAIL = {
#     "SPARKPOST_API_KEY": "your sparkpost key"
# }

DEFAULT_FROM_EMAIL = "your mail domain"  # can be anything if using the console backend
HOSTNAME = 'https://localhost:8000'  # for constructing the frontend URL
SITE_NAME = 'karrot.world' # used as human readable site name, for example in e-mail templates


######
# InfluxDB config for statistics reporting
# Disabled by default
######

INFLUXDB_DISABLED = True
INFLUXDB_HOST = '127.0.0.1'
INFLUXDB_PORT = '8086'
INFLUXDB_USER = ''
INFLUXDB_PASSWORD = ''
INFLUXDB_DATABASE = 'fstool'
INFLUXDB_TAGS_HOST = 'yuca'
INFLUXDB_TIMEOUT = 2
INFLUXDB_USE_CELERY = False
INFLUXDB_USE_THREADING = True

######
# Firebase Cloud Messaging config
# For sending push messages
# Get one from https://console.firebase.google.com
######

FCM_SERVER_KEY = 'your server key'

#######
# Sentry.io config for error reporting
# Only needs to be enabled on deploy
########

# import os
# import raven

# RAVEN_CONFIG = {
#    'dsn': 'https://f4b3de91ad384e4ca0d371c591cf3904:60760787f4464c5293afa6fe877d3d9d@sentry.io/147126',
#    # If you are using git, you can also automatically configure the
#    # release based on the git info.
#    'release': raven.fetch_git_sha(os.path.dirname(os.pardir)),
#}
