// This file is included in the build if src/main.js imports it.
// Otherwise the default Material CSS file is bundled.
// Check "DEFAULT / CUSTOM STYLE" in src/main.js

// App Shared Variables
// --------------------------------------------------
// Shared Stylus variables go in the app.variables.styl file
@import 'app.variables'

// Quasar Material Design Stylus
// --------------------------------------------------
// Custom App variables must be declared before importing Quasar.
// Quasar will use its default values when a custom variable isn't provided.
@import '~quasar-framework/dist/quasar.mat.styl'


h1
  font-size 3.0rem
h2
  font-size 2.4rem
h3
  font-size 2.0rem
h4
  font-size 1.7rem
h5
  font-size 1.5rem

// h1, h2, h3, h4, h5
  // font-family $accentFont
  // font-weight 700
  // padding-left .5em
a
  color inherit
.q-card
  background-color white

body.mobile .q-card
  margin 5px 0

.generic-padding
  padding 1em

.grey-border
  border 1px solid lightgrey
  border-radius $borderRadius

.bg-neutral
  background-color $neutral
  
.accent-font
  font-family $accentFont