{% trans full_name=user.get_full_name(), url=resolve_front_url('delete-account') %}
Hello {{ full_name }},
your account on foodsaving.world was successfully deleted.

Yours,
the foodsaving.world team
{% endtrans %}
