{% extends "base-text.jinja" %}

{% block content %}
{% trans new_mail=user.unverified_email, site_name=site_name() %}Your email address got changed on {{ site_name }}.
The new email address is {{ new_mail }}.{% endtrans %}
{% endblock %}
