{% extends "base-text.jinja2" %}

{% block content %}
{% trans new_mail=user.unverified_email %}Your email address got changed on {{ site_name }}.
The new email address is {{ new_mail }}.{% endtrans %}
{% endblock %}
