{% extends "base-text.jinja" %}

{% block content %}
{% trans %}Did you forget your password? No problem!
Click this link to change it:

{{ url }}

You can ignore this message if you did not request it.{% endtrans %}
{% endblock %}