{% extends "base-text.jinja" %}

{% block content %}
{% trans %}Here you have the link again to confirm your email:

{{ url }}

You can ignore this message if you did not request it.{% endtrans %}
{% endblock %}