<md-toolbar class="md-hue-1">
  <div class="md-toolbar-tools">
    <h1 class="md-headline" flex>
      <i class="fa fa-clock-o"></i>
      <span translate="PICKUPMANAGE.TITLE"></span>
    </h1>
    <md-button class="md-icon-button" ui-sref="^">
      <i class="fa fa-times"></i>
      <md-tooltip md-direction="left">
        <span translate="BUTTON.BACK"></span>
      </md-tooltip>
    </md-button>
  </div>
</md-toolbar>

<md-list>
  <md-subheader class="md-no-sticky">
    <span translate="PICKUPMANAGE.SERIES"></span>
    <md-button class="md-icon-button" ng-click="$ctrl.openPanel($event, {series: true})">
      <i class="fa fa-plus-circle"></i>
    </md-button>
  </md-subheader>
  <md-list-item ng-repeat="s in $ctrl.series" ng-click="$ctrl.openPanel($event, {series:true, data: s})">
    <div layout-padding layout="row" layout-align="start center">
      <div>
        <i class="fa fa-clock-o"></i>
        {{ s.startDate | date:'shortTime' }}
      </div>
      <div>
        <i class="fa fa-calendar"></i>
        <span ng-repeat="day in s.$byDayLong">
          <span>{{day}}<i ng-hide="$last">, </i></span>
        </span>
      </div>
      <div>
        <i class="fa fa-user"></i>
        {{ s.maxCollectors }}
      </div>
    </div>
  </md-list-item>
  <md-divider></md-divider>

  <md-subheader class="md-no-sticky">
    <span translate="PICKUPMANAGE.SINGLE"></span>
    <md-button class="md-icon-button" ng-click="$ctrl.openPanel($event, {series: false})">
      <i class="fa fa-plus-circle"></i>
    </md-button>
  </md-subheader>
  <md-list-item ng-repeat="p in $ctrl.pickups" ng-click="$ctrl.openPanel($event, {series: false, data: p})">
    <div layout-padding layout="row" layout-align="start center">
      <div>
        <i class="fa fa-clock-o"></i>
        {{ p.date | date:'shortTime' }}
      </div>
      <div>
        <i class="fa fa-calendar"></i>
        {{ p.date | date:'mediumDate' }}
      </div>
      <div>
        <i class="fa fa-user"></i>
        {{ p.maxCollectors }}
      </div>
    </div>
  </md-list-item>
</md-list>
