topbar > md-toolbar
  height 42px
  max-height 42px
  min-height 42px
  margin-bottom: 15px


topbar a.userProfileLink
  text-transform: none
  margin: 0

.breadcrumb
    color: grey
    padding: .4em
    font-size: 0.9em

.breadcrumb a
    color: grey
    text-decoration: none;

