topbar
  > md-toolbar
    margin-bottom 15px
  a.no-transform
    text-transform none
    margin 0

@media screen and (max-width: 600px)
  topbar > md-toolbar
    margin-bottom 0
  .logged-in
    position fixed
    z-index 99

.breadcrumb
  color grey
  padding .4em
  font-size 0.9em

  a
    color grey
    text-decoration none