topbar > md-toolbar
  height 42px
  max-height 42px
  min-height 42px

topbar .groupmenu
  a
    text-transform: none
    margin: 0
    line-height: 42px

.md-button.join
  font-size: 0.8em
  opacity: 0.7
