// App Shared Variables
// --------------------------------------------------
@import 'quasar/src/css/variables.sass'
h1
  font-size: 2.4rem

h2
  font-size: 2rem

h3
  font-size: 1.7rem

h4
  font-size: 1.5rem

h5
  font-size: 1.2rem

h1.generic-padding,
h2.generic-padding,
h3.generic-padding,
h4.generic-padding,
h5.generic-padding
  padding: 0.2em
  padding-left: 0.5em

a
  color: inherit
  text-decoration: none

.q-card
  margin: 8px
  background-color: white

body.mobile .no-mobile-margin
  margin: 0
  border-top: 0
  border-radius: 0

.generic-padding
  padding: 1em

.grey-border
  background-color: white
  border: 1px solid lightgrey
  border-radius: 0

// .desktop-margin is margin _only_ on desktop
// so remove it here ...
.desktop-margin
  margin-left: 0
  margin-right: 0

// ... and add it here
body.desktop .desktop-margin
  margin-left: 8px
  margin-right: 8px

.multiline
  white-space: pre-line

// For large bits of text inside a modal/dialog body (e.g. the agreement dialog)
.modal-body
  white-space: pre-line

// similar to quasars vertical-top, vertical-middle etc
// aligns an icon at the text baseline
.vertical-baseline
  vertical-align: baseline

.k-caption-opacity
  opacity: 0.54

.q-item.q-router-link--active,
.q-item--active
  background: $grey-3

a
  &.fas-after::after
    display: inline-block
    padding-left: 4px
    font-family: 'Font Awesome 5 Free'
    font-size: 80%
    font-weight: 900
    text-decoration: none
    opacity: .7

  &:hover
    &.fas-after::after
      opacity: 1

  &.fa-after-external-link::after
    content: "\F35D"

  &.fa-after-envelope::after
    content: "\F0E0"

  &.fa-after-phone::after
    content: "\F095"


body
  background-color: #F5F2E3
  background-image: url('../base/assets/repeating-people-600.png')
  background-attachment: fixed


.q-card,
.q-banner,
.rounded-borders,
.q-dialog__inner > div
  border-radius: 12px

.q-card > div:first-child
  border-top-left-radius: 12px
  border-top-right-radius: 12px

.q-card > div:last-child
  border-bottom-left-radius: 12px
  border-bottom-right-radius: 12px

.q-btn--rectangle
  border-radius: 9px

// This is just reverting how quasar does it
// which got broken by .q-btn--rectangle
.q-fab--form-rounded
  border-radius: 28px

.q-field--outlined .q-field__control
  border-radius: 9px

.q-drawer--left
  .q-layout__shadow
    display: none

// Quasar doesn't have gap utilities for some reason :/
.gap-sm
  gap: 8px

.overscroll-contain,
.scroll
  overscroll-behavior: contain

// Style the tabs
.q-tab__indicator
  display: none
.q-tab
  border-radius: 24px
  &.q-router-link--active
    background-color: $grey-4

.q-tabs.bg-secondary
  .q-tab.q-router-link--active
    background-color: rgba(255, 255, 255, 0.2)

// Nice faded bits on the side scrolling tabs
// Prevents the arrow from being on top of the content
.q-tabs--mobile-with-arrows
  .q-tabs__arrow--left
    background: linear-gradient(to right, white 40%, transparent)
  .q-tabs__arrow--right
    background: linear-gradient(to right, transparent, white 40%)

.q-menu
  border-radius: 12px

.k-marker-popup
  .leaflet-popup-content
    margin: 8px
