<md-menu md-offset="0 50" class="groupmenu" md-ink-ripple>

 <a ng-click="$mdOpenMenu($event)" class="md-button">
   Kirchheim
   <i class="fa fa-caret-down md-caption"></i>
 </a>
 <md-menu-content>
   <md-menu-item>
     <md-button href="#!/group/1">
       <i class="fa fa-circle-o"></i> Mannheim
     </md-button>
   </md-menu-item>
   <md-menu-item>
     <md-button href="#!/group/2">
       <i class="fa fa-circle-o"></i> Community 2
     </md-button>
   </md-menu-item>
   <md-menu-item>
     <md-button href="#!/group/3">
       <i class="fa fa-circle-o"></i> Community 3
     </md-button>
   </md-menu-item>
   <md-menu-item>
     <md-button href="#!/group/find" class="join">
       <i class="fa fa-plus"></i>
      Join community
     </md-button>
   </md-menu-item>
 </md-menu-content>
</md-menu>
