<div layout="row" layout-nowrap id="group-menu-container">
  <md-button ui-sref="groupDetail({ groupId: $ctrl.activeGroup.id })" id="group-menu-active-group" flex>
    {{$ctrl.activeGroup.name || "Please choose a group..."}}
  </md-button>
  <md-menu md-ink-ripple>
   <a ng-click="$ctrl.openMenu($mdOpenMenu, $event)" class="md-button" id="group-menu-group-picker">
     <i class="fa fa-caret-down md-caption"></i>
   </a>
   <md-menu-content>
     <md-menu-item ng-repeat="groupitem in $ctrl.groups"
                   ng-if="groupitem.id !== $ctrl.activeGroup.id">
       <md-button ui-sref="groupDetail({ groupId: groupitem.id })">
         <i class="fa fa-circle-o"> </i>
         {{ groupitem.name }}
       </md-button>
     </md-menu-item>
     <md-menu-item>
       <md-button class="group-menu-join-button" ng-click="$ctrl.openJoinGroupDialog($event)">
         <i class="fa fa-plus"></i>
         <span translate="GROUPMENU.JOIN"></span>
       </md-button>
     </md-menu-item>
   </md-menu-content>
  </md-menu>
</div>
