chat-floater
  z-index 10
  background white
  position fixed
  bottom 0
  right 2em
  width 20em
  md-toolbar
    height 34px
    min-height 34px
    max-height 34px
    .md-toolbar-tools
      font-size 18px
      height 34px
      min-height 34px
      max-height 34px
  .chat-messages
    padding 0.6em
    overflow-y scroll
    max-height 26em
  .chat-options
    padding 0 0.6em
    border-top solid lightgrey 1px
    .md-icon-button
      padding 0 0.4em
    md-input-container
      margin 0
  .desc
    top -3px
  .asc
    top 4px