<div class="md-whiteframe-2dp no-padding" layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h1 flex>
        <i class="fa fa-comment" aria-hidden="true"></i>&nbsp;
        Very Long Name of the chat...
      </h1>
      <md-button class="md-icon-button desc"
        ng-if="!$ctrl.isHidden" ng-click="$ctrl.isHidden = true">
          <i class="fa fa-sort-desc" ></i>
      </md-button>
      <md-button class="md-icon-button asc"
        ng-if="$ctrl.isHidden" ng-click="$ctrl.isHidden = false">
          <i class="fa fa-sort-asc" ></i>
      </md-button>
      <md-button class="md-icon-button"
        ng-click="$ctrl.close()">
          <i class="fa fa-times"></i>
      </md-button>
    </div>
  </md-toolbar>
  <div class="chat-messages" chat-scroll-bottom="$ctrl.conversation.messages" ng-if="!$ctrl.isHidden" flex>
    <div ng-repeat="message in $ctrl.conversation.messages">
      <strong>{{ message.user.display_name }}</strong>&nbsp;{{ message.content }}
    </div>
  </div>
  <div class="chat-options" layout="row" ng-if="!$ctrl.isHidden">
    <form ng-submit="$ctrl.sendMessage()" autocomplete="off" flex>
      <md-input-container md-no-float>
        <input placeholder="{{'CHAT.NEW_MESSAGE' | translate}}" type="text" ng-model="$ctrl.newMessageBody" autofocus />
      </md-input-container>      
    </form>
    <md-button class="md-icon-button"
      ng-click="$ctrl.sendMessage()">
        <i class="fa fa-paper-plane"></i>
    </md-button>
  </div>
</div>