<div layout="column" style="height: 100%">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        <i style="font-size: 1.2em; margin-right: 1em;" class="fa fa-group"></i>
        <span>{{$ctrl.group.name}}</span>
      </h2>
    </div>
  </md-toolbar>
  <div ng-if="$ctrl.group.protected" flex style="overflow: auto">
    <form name="form" ng-submit="$ctrl.joinGroup(this)" promise-btn style="text-align:center">
      <h4 translate="JOINGROUP.PASSWORD_LABEL"></h4>
      <md-input-container>
        <input name="password" ng-model="$ctrl.password" required type="text"- ng-keypress="form.password.$setValidity('check',true)">
        <div ng-messages="form.password.$error">
          <div ng-message="required" translate="JOINGROUP.PASSWORD_REQUIRED"></div>
          <div ng-message="check" translate="JOINGROUP.PASSWORD_WRONG"></div>
        </div>
      </md-input-container>
      <md-button class="md-raised md-primary" type="submit" ng-disabled="!form.$valid">
        <i class="fa fa-arrow-circle-right"></i>
        <md-tooltip>
          <span translate="BUTTON.JOIN"></span>
        </md-tooltip>
      </md-button>
    </form>
  </div>
  <md-progress-circular
    md-mode="indeterminate"
    ng-if="!$ctrl.group.protected">
  </md-progress-circular>


  <md-dialog-actions>
    <md-button ng-click="$ctrl.$mdDialog.cancel()" aria-label="{{ 'BUTTON.CANCEL' | translate }}">
      <span translate="BUTTON.CANCEL"></span>
    </md-button>
  </md-dialog-actions>
</div>
