button.md-button.join-group-expand
  text-transform none
  text-align left
  font-size inherit
  font-weight inherit

md-dialog
    height: 80%

join-group
  overflow: hidden
  height: 100%
  .description
    margin-left: 2em
    margin-right: 2em
    opacity: 0.8

    div
      white-space: pre

  md-list
    padding-right 8px
