[Unit]
Description=Daphne Web Server
After=network.target

[Service]
Type=simple
User={{ user }}
Group={{ group }}
WorkingDirectory=/var/www/{{ name }}/www
ExecStart=/var/www/{{ name }}/www/env/bin/daphne \
	-u /tmp/{{ name }}.sock \
	--root-path=/var/www/{{ name }}/www \
	config.asgi:channel_layer
Restart=always

[Install]
WantedBy=multi-user.target