{% if user %}{% trans full_name=user.get_full_name() %}Hello {{ full_name }},{% endtrans %}
{% else %}{% trans %}Hello,{% endtrans %}
{% endif %}
{% block content %}{% endblock %}
{% trans site_name=site_name() %}Yours,
the {{ site_name }} team{% endtrans %}