@import 'quasar/src/css/variables.sass'

.reaction-box
  min-height : 28px
  max-height : 28px
  padding : 0px 6px !important
  margin-right : 5px
  margin-bottom : 8px
  font-size : 1em
  line-height : unset
  background-color: $grey-2

  &:hover
    border-color : $secondary
