@import '~variables'
.reaction-box
  font-size 1em
  line-height unset
  min-height 23px
  max-height 23px
  margin-right 5px
  margin-bottom 4px
  padding 0px 5px !important
  border 1px solid #ccc
  border-radius 3px
  background white
  &:hover
    border-color $secondary
