@import '~variables'

.reaction-box
  min-height : 23px
  max-height : 23px
  padding : 0px 5px !important
  margin-right : 5px
  margin-bottom : 4px
  font-size : 1em
  line-height : unset
  background : white
  border : 1px solid #ccc
  border-radius : 3px

  &:hover
    border-color : $secondary
