<div layout="row">
  <div flex></div>
  <div class="md-whiteframe-2dp">
    <md-toolbar class="md-hue-1">
      <div class="md-toolbar-tools">
        <h1 flex>
          <i class="fa fa-home" aria-hidden="true"></i>&nbsp;
          <span translate="CREATEGROUP.TITLE"></span>
        </h1>
      </div>
    </md-toolbar>
    <md-content>

      <form name="createGroupForm" ng-submit="createGroupForm.$valid && $ctrl.createGroup()" layout="column">
        <md-input-container>
          <label translate="CREATEGROUP.NAME"></label>
          <input required type="text" ng-model="$ctrl.groupData.name"/>
        </md-input-container>

        <md-input-container>
          <label translate="GROUP.DESCRIPTION_VERBOSE"></label>
          <textarea ng-model="$ctrl.groupData.description"></textarea>
        </md-input-container>

        <md-input-container>
          <label translate="GROUP.PUBLIC_DESCRIPTION"></label>
          <textarea ng-model="$ctrl.groupData.public_description"></textarea>
        </md-input-container>

        <md-input-container>
          <label translate="GROUP.PASSWORD"></label>
          <input type="text" ng-model="$ctrl.groupData.password"/>
        </md-input-container>

        <md-input-container>
          <label translate="CREATEGROUP.ADDRESS"></label>
          <input type="text" ng-model="$ctrl.groupData.address"/>
        </md-input-container>

        <md-button-container>
          <md-button class="md-raised md-accent" type="submit" ng-disabled="createGroupForm.$invalid">
            <span translate="BUTTON.CREATE"></span>
          </md-button>
        </md-button-container>
        {{$ctrl.error.msg}}
      </form>
    </md-content>
  </div>
  <div flex></div>
</div>
