<h2 translate="CREATEGROUP.TITLE"></h2>

<form name="createGroupForm" ng-submit="createGroupForm.$valid && $ctrl.createGroup()" layout="column">
  <md-input-container>
    <label translate="CREATEGROUP.NAME"></label>
    <input required type="text" ng-model="$ctrl.groupData.name"/>
  </md-input-container>

  <md-input-container>
    <label translate="CREATEGROUP.DESCRIPTION"></label>
    <input type="text" ng-model="$ctrl.groupData.description"/>
  </md-input-container>

  <!-- <md-input-container>
    <label translate="CREATEGROUP.ADDRESS"></label>
    <input type="text" ng-model="$ctrl.groupData.address"/>
  </md-input-container> -->

  <md-autocomplete
    placeholder="Location"
    md-item-text="item.name"
    md-search-text="query"
    md-items="item in $ctrl.geoLookup(query)"
    md-selected-item-change="$ctrl.setGeo(item)"
    md-delay="500"
    required>
    <md-item-template>
      <span md-highlight-text="query">{{item.name}}</span>
    </md-item-template>
  </md-autocomplete>
    <leaflet
      height="200"
      center="$ctrl.mapCenter"
      defaults="$ctrl.mapDefaults"
      markers="{p:$ctrl.groupData}"
      class="md-whiteframe-z1"></leaflet>



  <md-button-container>
    <md-button class="md-raised md-accent" type="submit" ng-disabled="createGroupForm.$invalid">
      <span translate="BUTTON.CREATE"></span>
    </md-button>
  </md-button-container>

  {{$ctrl.error.msg}}
  </span>
</form>
