<md-input-container>
  <div layout="row">
    <div class="md-default-theme" translate="{{$ctrl.translationLabel}}"></div>
    <div flex></div>
    <md-button class="preview" ng-click="$ctrl.togglePreview()">
      <span ng-if="!$ctrl.isPreview" translate="BUTTON.PREVIEW"></span>
      <span ng-if="$ctrl.isPreview" translate="BUTTON.EDIT"></span>
    </md-button>
  </div>
  <div ng-if="$ctrl.isPreview" class="textarea-container">
    <expandable-panel content="$ctrl.model" markdown="true" collapse="10"></expandable-panel>
  </div>
  <div ng-if="!$ctrl.isPreview" class="textarea-container">
    <textarea ng-model="$ctrl.model"></textarea>
  </div>
  <div class="help" aria-hidden="true">
    <b>**{{"MARKDOWN_INPUT.BOLD" | translate}}**</b>
    <i>*{{"MARKDOWN_INPUT.ITALIC" | translate}}*</i>
    <span>~~{{"MARKDOWN_INPUT.STRIKE" | translate}}~~</span>
    <!--<code>`code`</code>
    <code class="preformatted">```preformatted```</code>-->
    <span class="quote">&gt;{{"MARKDOWN_INPUT.QUOTE" | translate}}</span>
    <md-button class="md-icon-button" href="https://guides.github.com/features/mastering-markdown/" target="_blank">
      <md-tooltip md-direction="bottom">
        <span translate="MARKDOWN_INPUT.HELP"></span>
      </md-tooltip>
      <i class="fa fa-question-circle"></i>
    </md-button>
    <md-button ng-if="$ctrl.options.showSubmit" class="md-raised md-primary" type="submit" translate="BUTTON.SUBMIT"></md-button>
  </div>
</md-input-container>
