<md-content layout-padding style="margin-bottom: 4em" class="md-whiteframe-2dp">
  <form signup-form ng-submit="$ctrl.signup()">
    <h2 style="padding: .2em;"> Sign Up! </h2>

    <div layout="row">
      <md-input-container  flex="50">
        <label>First Name</label>
        <input required type="text" ng-model="$ctrl.firstName">
      </md-input-container>
      <md-input-container  flex="50">
        <label>Last Name</label>
        <input required type="text" ng-model="$ctrl.lastName">
      </md-input-container>
    </div>

    <md-input-container class="md-block">
      <label>Username</label>
      <input required type="text" name="Username" ng-model="$ctrl.username"
             minlength="4" maxlength="100" />
    </md-input-container>

    <md-input-container class="md-block">
      <label>Email</label>
      <input required type="email" name="Email" ng-model="$ctrl.email"/>
    </md-input-container>

    <md-input-container>
      <label>Password</label>
      <input type="password" required name="password" ng-model="$ctrl.password">
    </md-input-container>



    <md-button class="md-raised md-accent" type="submit">Join</md-button>
    <md-button ui-sref="login">
      Back to Login
    </md-button>
    <div ng-messages="$ctrl.error">
      <div class="form-error" ng-message="failed">
        Sign up failed!
      </div>
    </div>
  </form>

</md-content>
