yunity-orange = #f66c41;

div.background
    background-color: yunity-orange

div.translucent
    background-color: rgba(255, 255, 255, .1)

#mainContent
    background-color: white
    margin: 5em 0

#wrapper
    width: 30em;