<md-content ng-cloak>
    <div layout="row" class="background">
        <div flex></div>
        <div flex class="translucent"></div>
        <div flex="nogrow" id="wrapper" layout="column" class="translucent">
            <div flex></div>
            <div flex id="mainContent" layout-padding class="md-whiteframe-2dp">
                <form>
                    <h2>Login</h2>
                    <md-input-container class="md-block">
                        <label>Email</label>
                        <input type="email" name="email" required minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"/>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input type="password" name="password" required>
                    </md-input-container>

                    <md-switch class="md-primary" md-no-ink aria-label="Remember me">
                        Remember me
                    </md-switch>

                    <md-button class="md-raised md-accent" type="submit" ui-sref="home">
                        Login
                    </md-button>
                    <md-button href="#/signUp">
                        Sign up!
                    </md-button>
                </form>
            </div>
        </div>
        <div flex class="translucent"></div>
        <div flex></div>
    </div>
</md-content>