// the main layout panel
.main-panel
  width 100%
  max-width 60em
  margin 0 auto

.no-padding
  padding 0

@media screen and (max-width: 600px)
  .main-panel
    margin-top 0

.md-dialog-container > md-dialog
  width 95%
  max-width 40em

.footer
  opacity 0.6
  text-align center
  margin 0.5em
  font-size 0.8em

  a
    opacity 0.8
    text-decoration none
    font-weight 500

  a:hover
    opacity 1.0
