.footer
  opacity 0.6
  text-align center
  margin: 0.5em;
  font-size: 0.8em;

.footer a
  opacity 0.8
  text-decoration: none;
  font-weight: 500;

.footer a:hover
  opacity 1.0

.md-whiteframe-2dp
  padding: 20px
  margin-top: .8em

.md-dialog-container > md-dialog
  width: 95%
  max-width: 40em
