<md-list-item layout="row" layout-align="end stretch" class="md-2-line pickupList-pickup">
  <div flex class="pickupList-pickup-left">
    <span class="pickupList-pickup-info-container">
      <span class="md-title">{{$ctrl.pickupdata.date| date:'HH:mm'}}</span>
      <span class="pickupList-pickup-info"><a href="{{$ctrl.info.href}}">{{$ctrl.info.text}}</a></span>
    </span>
    <div class="pickupList-pickup-people">
      <md-list class="pickuplist-pickup-person">
        <md-list-item ng-repeat="c in $ctrl.pickupdata.collectors">
          <strong>{{c.display_name}}</strong>
        </md-list-item>
      </md-list>
      <div class="md-caption">({{$ctrl.pickupdata.collector_ids.length}}/{{$ctrl.pickupdata.max_collectors}})</div>
    </div>
  </div>
  <md-button ng-click="$ctrl.leave()" ng-show="{{$ctrl.pickupdata.isUserMember}}" class="md-accent pickupList-pickup-right">
    <p>Leave</p>
  </md-button>
  <md-button ng-click="$ctrl.join()" ng-show="{{!$ctrl.pickupdata.isUserMember && !$ctrl.pickupdata.isFull}}" class="md-accent md-hue-3 pickupList-pickup-right">
    <p>Join</p>
  </md-button>
  <md-button ng-disabled="true" ng-show="{{!$ctrl.pickupdata.isUserMember && $ctrl.pickupdata.isFull}}" class="md-accent pickupList-pickup-right">
    <p>Full!</p>
  </md-button>
</md-list-item>
