<md-list-item layout="row" layout-align="end stretch" class="md-2-line pickupList-pickup">
  <div flex class="pickupList-pickup-left">
    <span class="pickupList-pickup-info-container">
      <span class="md-title">{{$ctrl.data.date| date:'HH:mm'}}</span>
      <span class="pickupList-pickup-info">
        <span ng-if="$ctrl.showStoreDetail">
          <i ng-if="!$ctrl.storeData" class="fa fa-spinner"></i>
          <a ng-if="$ctrl.storeData"
             ui-sref="storeDetail({ storeId: $ctrl.storeData.id, groupId: $ctrl.storeData.group })">
            {{$ctrl.storeData.name}}
          </a>
        </span>
        <span ng-if="!$ctrl.showStoreDetail">
          {{$ctrl.data.date|date:'EEEE, dd.MM.yyyy'}}
        </span>
      </span>
      <md-button ng-if="!$ctrl.showStoreDetail" class="md-icon-button md-warn" ng-click="$ctrl.onDelete($ctrl.data)" aria-label="{{ 'PICKUPLIST.ITEM.DELETE' | translate }}">
        <md-tooltip>
          <span translate="PICKUPLIST.ITEM.DELETE"></span>
        </md-tooltip>
        <i class="fa fa-times"></i>
      </md-button>
    </span>
    <div class="pickupList-pickup-people">
      <a class="pickuplist-pickup-person" ng-repeat="collector in $ctrl.collectors" ui-sref="userDetail({ id: {{collector.id}} })">
        <!--<img class="pickupList-pickup-img" src="assets/images/user.png"/>-->
        <span>{{collector.display_name}}{{$last ? '' : ', '}}</span>
      </a>
      <div class="md-caption">({{$ctrl.data.collector_ids.length}}/{{$ctrl.data.max_collectors}})</div>
    </div>
  </div>
  <md-button aria-label="{{'PICKUPLIST.ITEM.LEAVE' | translate}}" ng-click="$ctrl.leave()" ng-show="{{$ctrl.data.isUserMember}}" class="md-accent pickupList-pickup-right">
    <p translate="PICKUPLIST.ITEM.LEAVE"></p>
  </md-button>
  <md-button aria-label="{{'PICKUPLIST.ITEM.JOIN' | translate}}" ng-click="$ctrl.join()" ng-show="{{!$ctrl.data.isUserMember && !$ctrl.data.isFull}}" class="md-accent md-hue-3 pickupList-pickup-right">
    <p translate="PICKUPLIST.ITEM.JOIN"></p>
  </md-button>
  <md-button aria-label="{{'PICKUPLIST.ITEM.FULL' | translate}}" ng-disabled="true" ng-show="{{!$ctrl.data.isUserMember && $ctrl.data.isFull}}" class="md-accent pickupList-pickup-right">
    <p translate="PICKUPLIST.ITEM.FULL"></p>
  </md-button>
</md-list-item>
