<div class="pickupList">

  <!-- Menu Bar -->
  <div ng-show="$ctrl.options.showTopbar">
    <h3 class="md-title"><i class="icon fa fa-shopping-basket" aria-hidden="true"></i>  {{$ctrl.options.header}}</h3>
    <div style="display: inline-block">
      <md-button aria-label="{{'BUTTON.CREATE' | translate}}" ng-show="$ctrl.options.showCreateButton" class="md-primary" aria-label="Create Pickup" ng-click="$ctrl.openCreatePickupPanel($event)">
      <i style="font-size: 1.2em;" class="fa fa-plus-circle" aria-hidden="true"></i>
        <span translate="BUTTON.CREATE"></span>
      </md-button>
      <md-menu>
        <md-button aria-label="{{'PICKUPLIST.FILTER' | translate}}" class="small" ng-click="$mdMenu.open($event)">
          <span hide-xs translate="PICKUPLIST.FILTER"></span>
          <i class="fa fa-filter" aria-hidden="true"></i>
        </md-button>
        <md-menu-content width="4">
          <md-list>
            <md-list-item>
              <p translate="PICKUPLIST.JOINED"></p>
              <md-checkbox class="md-secondary" ng-model="$ctrl.options.filter.showJoined"></md-checkbox>
            </md-list-item>
            <md-list-item>
              <p translate="PICKUPLIST.OPEN"></p>
              <md-checkbox class="md-secondary" ng-model="$ctrl.options.filter.showOpen"></md-checkbox>
            </md-list-item>
            <md-list-item>
              <p translate="PICKUPLIST.FULL"></p>
              <md-checkbox class="md-secondary" ng-model="$ctrl.options.filter.showFull"></md-checkbox>
            </md-list-item>
          </md-list>
        </md-menu-content>
      </md-menu>
      <md-button aria-label="{{'PICKUPLIST.SORT' | translate}}" class="small" ng-click="$ctrl.toggleReversed()">
        <span hide-xs translate="PICKUPLIST.SORT"></span>
        <i class="fa" ng-class="{ 'fa-angle-down': $ctrl.options.reversed , 'fa-angle-up': !$ctrl.options.reversed  }" aria-hidden="true"></i>
      </md-button>
    </div>
  </div>


  <!-- Items -->
  <div class="no-padding">
    <md-list ng-if="$ctrl.isInitialized">
      <md-subheader
        ng-repeat-start="pickup in (pickups = $ctrl.getPickups()) | orderBy:'date':$ctrl.options.reversed"
        ng-show="$ctrl.options.showStickyHeaders && $ctrl.showDateHeaderBefore($index, pickups)"
        class="md-sticky">
        {{pickup.date| date:'fullDate'}}
      </md-subheader>
      <pickup-list-item
        ng-repeat-end
        show-detail="$ctrl.options.showDetail"
        on-delete="$ctrl.delete(pickup)"
        on-join="$ctrl.joinPickup(pickup.id)"
        on-leave="$ctrl.leavePickup(pickup.id)"
        data="pickup"
        meta="{isFull: $ctrl.isFull(pickup), isUserMember: $ctrl.isUserMember(pickup)}">
      </pickup-list-item>
    </md-list>

    <div ng-if="!$ctrl.isInitialized" layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate" style="margin: 3em auto"></md-progress-circular>
    </div>

    <div ng-if="$ctrl.isInitialized && !$ctrl.getPickups().length"  layout-padding>
      <h4 style="margin-bottom: 0"><i class="fa fa-bed"></i> <span translate="PICKUPLIST.NONE"></span></h4>
      <small ng-if="!$ctrl.options.showCreateButton" translate="PICKUPLIST.NONE_HINT"></small>
    </div>
  </div>

  <!-- confirm to delete pickup -->
  <div style="visibility: hidden">
    <div class="md-dialog-container" id="confirmDeleteDialog">
      <md-dialog>
        <div class="md-whiteframe-10dp" layout-fill>
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h2>
                <i style="font-size: 1.5em; margin-right: 1em;" class="fa fa-trash-o"></i>
                <span translate="PICKUPLIST.ITEM.DELETE"></span>
              </h2>
            </div>
          </md-toolbar>
          <div layout-margin>
            <div translate="PICKUPLIST.ITEM.DELETE_TEXT" flex></div>
            <div ng-if="$ctrl.pickupToDelete.series">
              <md-checkbox ng-model="$ctrl.isDeleteSeries">
                <span translate="PICKUPLIST.ITEM.DELETE_SERIES_TEXT"></span>
              </md-checkbox>
            </div>
            <div layout="row" layout-align="end center">
              <md-button aria-label="{{'BUTTON.CANCEL' | translate}}" class="md-icon-button" ng-click="$ctrl.$mdDialog.cancel()">
                <md-tooltip>
                  <span translate="BUTTON.CANCEL"></span>
                </md-tooltip>
                <i class="fa fa-times"></i>
              </md-button>
              <md-button aria-label="{{'BUTTON.DELETE' | translate}}" class="md-raised md-primary" ng-click="$ctrl.$mdDialog.hide()">
                <md-tooltip>
                  <span translate="BUTTON.DELETE"></span>
                </md-tooltip>
                <i class="fa fa-trash-o"></i>
              </md-button>
            </div>
          </div>
      </md-dialog>
    </div>
  </div>
</div>
