import os

LOCAL_WEBAPP_PATH = '/Users/<yourname>/yunity/yunity-webapp-mobile/'

BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'yunity-core',
        'USER': 'yunity-core',
        'PASSWORD': '',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}

SHELL_PLUS_PRE_IMPORTS = (
    ('yunity.utils.elasticsearch', ('*')),
)

ES_INDEX = 'yunity_<yourname>'
